@theme inline {
  /* Fonts */
  --font-sans: Inter, sans-serif;
  --font-mono: Fira Code, monospace;

  /* Font sizes */
  --text-xs: 0.625rem; /* 10px */
  --text-xs--line-height: 1rem;
  --text-sm: 0.75rem; /* 12px */
  --text-sm--line-height: 1rem;
  --text-base: 0.875rem; /* 14px */
  --text-base--line-height: 1.25rem;
  --text-lg: 1rem; /* 16px */
  --text-lg--line-height: 1.5rem;
}
