.week {
  display: flex;

  .day {
    flex: 1;
    transition: border 100ms ease-in-out;
    padding: var(--calendar-spacing);

    &:not(.selected).outside {
      opacity: 0.6;
    }

    &.range,
    &.rangeHover {
      border-radius: 0;
    }

    &.startRangeDate {
      border-radius: 50%;
      background-color: var(--calender-selectedDate-background);
      color: var(--black);
    }

    &.endRangeDate {
      border-radius: 50%;
      background-color: var(--calender-selectedDate-background);
      color: var(--black);
    }

    &.startRangeDate:hover {
      background-color: var(--calender-selectedDate-background);
      color: var(--black);
    }

    &.endRangeDate:hover {
      background-color: var(--calender-selectedDate-background);
      color: var(--black);
    }
  }
}

.dayLabel {
  flex: 1;
  transition: border 100ms ease-in-out;
  padding: var(--calendar-spacing);
  color: var(--white);
}
