.container {
  display: flex;

  div {
    border-radius: 50%;
    background: var(--loader-background);
  }

  &.small div {
    margin-left: var(--spacing-sm);
    height: 3px;
    width: 3px;
  }

  &.medium div {
    margin-left: var(--spacing-md);
    height: 5px;
    width: 5px;
  }

  &.large div {
    margin-left: var(--spacing-lg);
    height: 7px;
    width: 7px;
  }
}
