.pager {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 20px;
    width: 20px;
  }

  .page {
    padding: 0 var(--spacing-sm);

    &.active {
      font-weight: bold;
    }
  }
}
