.drawer {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--color-drawer);
  color: var(--color-on-drawer);

  &:not(.disablePadding) {
    .content {
      padding: 20px 30px;
    }
  }

  .header {
    display: flex;
    align-items: center;
    padding: 20px 30px;

    > h1 {
      margin: 0;
      flex: 1;
    }
  }

  .closeButton {
    opacity: 0.8;
    height: auto;
    width: auto;
    min-width: auto;
    min-height: auto;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-on-drawer);
    font-size: 16px;

    &:focus {
      outline: none;
    }

    &.headerlessCloseButton {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &.start,
  &.end {
    top: 0;
    bottom: 0;
    height: 100%;
  }

  &.start {
    left: 0;
  }

  &.end {
    right: 0;
  }

  &.top,
  &.bottom {
    width: 100%;
    left: 0;
    right: 0;
  }

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }
}
