.notification {
  display: flex;
  position: relative;
  font-size: 16px;
  min-width: 400px;
  padding: 10px;
  min-height: 45px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: var(--notification-background);
  color: var(--notification-color);
  border: 1px solid var(--notification-border);

  .contentContainer {
    display: flex;
    width: 100%;
    padding: 0 15px;
  }

  &.error {
    .header {
      color: var(--notification-color-error);
    }
  }

  &.warning {
    .header {
      color: var(--notification-color-warning);
    }
  }

  &.success {
    .header {
      color: var(--notification-color-success);
    }
  }

  .close,
  .content {
    display: inline-flex;
    align-items: center;
  }

  .content {
    flex: 1;
    padding: 3px 10px;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .header {
      font-size: 18px;
    }

    .body {
      color: var(--color-on-notification);
      opacity: 0.7;
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .close {
    .closeButton {
      cursor: pointer;
      background: none;
      border: none;
      padding: 5px 10px;
      font-size: 13px;
      font-weight: 600;
      opacity: 0.7;
      margin: 0;
      color: var(--color-on-notification);
    }
  }
}
