.container {
  .positions {
    position: fixed;
    z-index: 9998;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 0 95px;
    margin-bottom: 5px;

    > div {
      margin: 10px 0 15px 0;
    }
  }
}
