.container {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-shrink: 0;
  margin: 0 8px;

  &.disableMargins {
    margin: 0 !important;
  }
}

.badge {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  line-height: 1;
  padding: var(--spacing-xs);
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  z-index: 1;
  font-size: var(--font-size-sm);
  pointer-events: none;

  /* Positions */
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0%;

  &.top {
    &.left {
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      transform-origin: 0% 0%;
    }
  }

  &.bottom {
    &.left {
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%);
      transform-origin: 0% 100%;
    }

    &.right {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
      transform-origin: 100% 100%;
    }
  }

  /* Colors */
  &.default {
    background: var(--badge-color-default);
    color: var(--badge-color-on-default);
  }

  &.primary {
    background: var(--badge-color-primary);
    color: var(--badge-color-on-primary);
  }

  &.secondary {
    background: var(--badge-color-secondary);
    color: var(--badge-color-on-secondary);
  }

  &.error {
    background: var(--badge-color-error);
    color: var(--badge-color-on-error);
  }
}
