.container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-sm);
  }

  .multi {
    padding-left: var(--spacing-md);
    padding-right: 16px;
  }
  overflow: hidden;
}

.calenderMonths {
  display: flex;
  justify-content: space-around;
}

.daysContainer {
  display: flex;
  column-gap: 16px;
}
