.divider {
  background: var(--divider-background);
  border: none;

  &.horizontal {
    height: 1px;
    width: 100%;
    margin: var(--divider-spacing) 0;
  }

  &.vertical {
    width: 1px;
    height: 100%;
    margin: 0 var(--divider-spacing);
  }

  &.horizontal,
  &.vertical {
    &.disableMargins {
      margin: 0;
    }
  }
}
