h1 {
  font-family: var(--font-family);
  font-size: var(--page-title-font-size);
  line-height: var(--page-title-line-height);
  font-weight: var(--page-title-font-weight);
  text-transform: var(--page-title-text-transform);
  color: var(--page-title-color);
  margin: var(--page-title-margin);

  &.disableMargins {
    margin: 0;
  }
}
