.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: var(--avatar-initials-color);
  border: var(--avatar-border);
  font-weight: bold;
}

.rounded {
  border-radius: 50%;
}
