.chip {
  font-family: var(--chip-font-family);
  display: inline-flex;
  align-items: center;
  border-radius: var(--chip-border-radius);
  border: 1px solid transparent;
  box-sizing: border-box;
  line-height: 1;

  svg {
    transition: fill 0.15s ease-in-out;
    will-change: fill;
  }

  .start {
    padding-right: var(--spacing-xs);
    display: flex;
    align-items: center;
  }

  .content {
    display: flex;
    align-items: center;
  }

  .end {
    padding-left: var(--spacing-xs);
    justify-self: flex-end;
    display: flex;
    align-items: center;
  }

  &.small {
    padding: var(--spacing-xs) var(--spacing-xs);
    font-size: 10px;

    svg {
      width: 10px;
      height: 10px;
    }
  }

  &.medium {
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: 12px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &.large {
    padding: var(--spacing-md) var(--spacing-md);
    font-size: 14px;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &.filled {
    background-color: var(--chip-background);
    border-color: var(--chip-background);
    color: var(--chip-color);

    svg {
      fill: var(--chip-color);
    }

    &.primary {
      background-color: var(--primary-background);
      border-color: var(--primary-background);
    }

    &.secondary {
      background-color: var(--secondary-background);
      border-color: var(--secondary-background);
    }

    &.error {
      background-color: var(--error-background);
      border-color: var(--error-background);
    }

    &.success {
      background-color: var(--success-background);
      border-color: var(--success-background);
    }

    &.warning {
      background-color: var(--warning-background);
      border-color: var(--warning-background);
    }

    &.info {
      background-color: var(--info-background);
      border-color: var(--info-background);
    }
  }

  &.outline {
    background: transparent;
    border-color: var(--chip-background);
    color: var(--chip-color);

    svg {
      fill: var(--chip-color);
    }

    &.primary {
      border-color: var(--primary-background);
      color: var(--primary-color);

      svg {
        fill: var(--primary-color);
      }
    }

    &.secondary {
      border-color: var(--secondary-background);
      color: var(--secondary-color);

      svg {
        fill: var(--secondary-color);
      }
    }

    &.error {
      border-color: var(--error-background);
      color: var(--error-color);

      svg {
        fill: var(--error-color);
      }
    }

    &.success {
      border-color: var(--success-background);
      color: var(--success-color);

      svg {
        fill: var(--success-color);
      }
    }

    &.warning {
      border-color: var(--warning-background);
      color: var(--warning-color);

      svg {
        fill: var(--warning-color);
      }
    }

    &.info {
      border-color: var(--info-background);
      color: var(--info-color);

      svg {
        fill: var(--info-color);
      }
    }
  }

  &.selectable {
    &:hover {
      cursor: pointer;
    }
  }

  &.selected {
    &.filled,
    &.filled:hover {
      background-color: var(--chip-background-hover);
      border-color: var(--chip-background-hover);

      &.primary,
      &.primary:hover {
        background-color: var(--primary-background-hover);
        border-color: var(--primary-background-hover);
      }

      &.secondary,
      &.secondary:hover {
        background-color: var(--secondary-background-hover);
        border-color: var(--secondary-background-hover);
      }

      &.error,
      &.error:hover {
        background-color: var(--error-background-hover);
        border-color: var(--error-background-hover);
      }

      &.success,
      &.success:hover {
        background-color: var(--success-background-hover);
        border-color: var(--success-background-hover);
      }

      &.warning,
      &.warning:hover {
        background-color: var(--warning-background-hover);
        border-color: var(--warning-background-hover);
      }

      &.info,
      &.info:hover {
        background-color: var(--info-background-hover);
        border-color: var(--info-background-hover);
      }
    }

    &.outline,
    &.outline:hover {
      border-color: var(--chip-background-hover);
      color: var(--chip-color-hover);

      &.primary,
      &.primary:hover {
        border-color: var(--primary-background-hover);
        color: var(--primary-color-hover);
      }

      &.secondary,
      &.secondary:hover {
        border-color: var(--secondary-background-hover);
        color: var(--secondary-color-hover);
      }

      &.error,
      &.error:hover {
        border-color: var(--error-background-hover);
        color: var(--error-color-hover);
      }

      &.success,
      &.success:hover {
        border-color: var(--success-background-hover);
        color: var(--success-color-hover);
      }

      &.warning,
      &.warning:hover {
        border-color: var(--warning-background-hover);
        color: var(--warning-color-hover);
      }

      &.info,
      &.info:hover {
        border-color: var(--info-background-hover);
        color: var(--info-color-hover);
      }
    }
  }

  &.disableMargins {
    margin: 0 !important;
  }

  &:focus-visible {
    outline: 1px dashed var(--button-focus);
    outline-offset: var(--button-focus-offset);
  }
}
