.deleteButton {
  &.small {
    line-height: 10px;
    max-height: 10px;
  }

  &.medium {
    line-height: 12px;
    max-height: 12px;
  }

  &.large {
    line-height: 14px;
    max-height: 14px;
  }
}
