:root,
:host {
  &.theme-light,
  &.light {
    --reablocks-theme: light;

    --background-basic-clear: var(--color-neutrals-clear-dnt-clear);
    --background-basic-black: var(--color-neutrals-pure-black-dnt-1000);
    --background-basic-white: var(--color-neutrals-pure-white-dnt-1000);
    --background-neutral-canvas-base: var(
      --color-neutrals-kyber-crystal-a-1000
    );
    --background-neutral-raised-base: var(--color-neutrals-darth-abyss-a-1000);
    --background-neutral-inverse-raised-base: var(
      --color-neutrals-kyber-crystal-a-1000
    );
    --background-neutral-inverse-raised-1: var(
      --color-neutrals-kyber-crystal-a-900
    );
    --background-neutral-inverse-raised-2: var(
      --color-neutrals-kyber-crystal-a-600
    );
    --background-neutral-inverse-raised-3: var(
      --color-neutrals-kyber-crystal-a-400
    );
    --background-neutral-inverse-raised-4: var(
      --color-neutrals-kyber-crystal-a-300
    );
    --background-neutral-inverse-raised-5: var(
      --color-neutrals-kyber-crystal-a-100
    );
    --background-neutral-inverse-raised-6: var(
      --color-neutrals-kyber-crystal-a-50
    );
    --background-neutral-raised-1: var(--color-neutrals-darth-abyss-a-900);
    --background-neutral-raised-2: var(--color-neutrals-darth-abyss-a-600);
    --background-neutral-raised-3: var(--color-neutrals-darth-abyss-a-400);
    --background-neutral-raised-4: var(--color-neutrals-darth-abyss-a-300);
    --background-neutral-raised-5: var(--color-neutrals-pure-white-dnt-1000);
    --background-neutral-raised-6: var(--color-neutrals-pure-white-dnt-1000);
    --background-brand-base: var(--color-blue-hyperstream-a-1000);
    --background-brand-1: var(--color-blue-hyperstream-a-900);
    --background-brand-2: var(--color-blue-hyperstream-a-700);
    --background-brand-3: var(--color-blue-hyperstream-a-500);
    --background-brand-4: var(--color-blue-hyperstream-a-400);
    --background-brand-5: var(--color-blue-hyperstream-a-200);
    --background-semantic-success-base: var(--color-green-emerald-saber-a-1000);
    --background-semantic-warning-base: var(--color-orange-sunstreak-a-1000);
    --background-semantic-warning-1: var(--color-orange-sunstreak-a-900);
    --background-semantic-warning-2: var(--color-orange-sunstreak-a-700);
    --background-semantic-warning-3: var(--color-orange-sunstreak-a-500);
    --background-semantic-warning-4: var(--color-orange-sunstreak-a-400);
    --background-semantic-warning-5: var(--color-orange-sunstreak-a-200);
    --background-semantic-success-1: var(--color-green-emerald-saber-a-900);
    --background-semantic-success-2: var(--color-green-emerald-saber-a-700);
    --background-semantic-success-3: var(--color-green-emerald-saber-a-500);
    --background-semantic-success-4: var(--color-green-emerald-saber-a-400);
    --background-semantic-success-5: var(--color-green-emerald-saber-a-200);
    --background-semantic-info-base: var(--color-blue-skybolt-a-1000);
    --background-semantic-info-1: var(--color-blue-skybolt-a-900);
    --background-semantic-info-2: var(--color-blue-skybolt-a-700);
    --background-semantic-info-3: var(--color-blue-skybolt-a-500);
    --background-semantic-info-4: var(--color-blue-skybolt-a-400);
    --background-semantic-info-5: var(--color-blue-skybolt-a-200);
    --background-semantic-error-base: var(--color-red-crimson-wrath-a-1000);
    --background-semantic-error-1: var(--color-red-crimson-wrath-a-900);
    --background-semantic-error-2: var(--color-red-crimson-wrath-a-700);
    --background-semantic-error-3: var(--color-red-crimson-wrath-a-500);
    --background-semantic-error-4: var(--color-red-crimson-wrath-a-400);
    --background-semantic-error-5: var(--color-red-crimson-wrath-a-200);
    --background-accent-1-base: var(--color-purple-nexus-a-1000);
    --background-accent-1-1: var(--color-purple-nexus-a-900);
    --background-accent-1-2: var(--color-purple-nexus-a-700);
    --background-accent-1-3: var(--color-purple-nexus-a-500);
    --background-accent-1-4: var(--color-purple-nexus-a-400);
    --background-accent-1-5: var(--color-purple-nexus-a-200);
    --background-accent-2-base: var(--color-pink-plasma-circuit-a-1000);
    --background-accent-2-1: var(--color-pink-plasma-circuit-a-900);
    --background-accent-2-2: var(--color-pink-plasma-circuit-a-700);
    --background-accent-2-3: var(--color-pink-plasma-circuit-a-500);
    --background-accent-2-4: var(--color-pink-plasma-circuit-a-400);
    --background-accent-2-5: var(--color-pink-plasma-circuit-a-200);
    --background-accent-3-base: var(--color-teal-sunspark-oasis-a-1000);
    --background-accent-3-1: var(--color-teal-sunspark-oasis-a-900);
    --background-accent-3-2: var(--color-teal-sunspark-oasis-a-700);
    --background-accent-3-3: var(--color-teal-sunspark-oasis-a-500);
    --background-accent-3-4: var(--color-teal-sunspark-oasis-a-400);
    --background-accent-3-5: var(--color-teal-sunspark-oasis-a-200);
    --stroke-basic-clear: var(--color-neutrals-clear-dnt-clear);
    --content-text-basic-clear: var(--color-neutrals-clear-dnt-clear);
    --gradient-neutral-50: var(--color-neutrals-darth-abyss-a-50);
    --gradient-neutral-100: var(--color-neutrals-darth-abyss-a-100);
    --gradient-neutral-200: var(--color-neutrals-darth-abyss-a-200);
    --gradient-neutral-300: var(--color-neutrals-darth-abyss-a-300);
    --gradient-neutral-400: var(--color-neutrals-darth-abyss-a-400);
    --gradient-neutral-500: var(--color-neutrals-darth-abyss-a-500);
    --gradient-neutral-700: var(--color-neutrals-darth-abyss-a-700);
    --gradient-neutral-1000: var(--color-neutrals-darth-abyss-a-1000);
    --gradient-brand-50: var(--color-blue-hyperstream-a-50);
    --gradient-brand-100: var(--color-blue-hyperstream-a-100);
    --gradient-brand-200: var(--color-blue-hyperstream-a-200);
    --gradient-brand-300: var(--color-blue-hyperstream-a-300);
    --gradient-brand-400: var(--color-blue-hyperstream-a-400);
    --gradient-brand-500: var(--color-blue-hyperstream-a-500);
    --gradient-brand-700: var(--color-blue-hyperstream-a-700);
    --gradient-brand-1000: var(--color-blue-hyperstream-a-1000);
    --content-text-basic-black: var(--color-neutrals-pure-black-dnt-1000);
    --content-text-basic-white: var(--color-neutrals-pure-white-dnt-1000);
    --content-text-neutral-base: var(--color-neutrals-darth-abyss-a-1000);
    --content-text-neutral-1: var(--color-neutrals-darth-abyss-a-900);
    --content-text-neutral-2: var(--color-neutrals-darth-abyss-a-800);
    --content-text-neutral-3: var(--color-neutrals-darth-abyss-a-500);
    --content-text-neutral-4: var(--color-neutrals-darth-abyss-a-300);
    --content-text-neutral-5: var(--color-neutrals-darth-abyss-a-200);
    --content-text-on-color-dark-dark: var(--color-neutrals-darth-abyss-a-1000);
    --content-text-on-color-dark-light: var(
      --color-neutrals-kyber-crystal-a-1000
    );
    --content-text-on-color-light-dark: var(
      --color-neutrals-darth-abyss-a-1000
    );
    --content-text-on-color-light-light: var(
      --color-neutrals-kyber-crystal-a-1000
    );
    --content-text-inverse-base: var(--color-neutrals-kyber-crystal-a-1000);
    --content-text-inverse-1: var(--color-neutrals-kyber-crystal-a-900);
    --content-text-inverse-2: var(--color-neutrals-kyber-crystal-a-800);
    --content-text-inverse-3: var(--color-neutrals-kyber-crystal-a-500);
    --content-text-inverse-4: var(--color-neutrals-kyber-crystal-a-300);
    --content-text-inverse-5: var(--color-neutrals-kyber-crystal-a-200);
    --content-text-brand-base: var(--color-blue-hyperstream-a-1000);
    --content-text-brand-1: var(--color-blue-hyperstream-a-700);
    --content-text-brand-2: var(--color-blue-hyperstream-a-300);
    --content-text-brand-3: var(--color-blue-hyperstream-a-200);
    --content-text-brand-4: var(--color-blue-hyperstream-a-100);
    --content-text-brand-5: var(--color-blue-hyperstream-a-50);
    --content-text-semantic-success-base: var(
      --color-green-emerald-saber-a-1000
    );
    --content-text-semantic-success-1: var(--color-green-emerald-saber-a-700);
    --content-text-semantic-success-2: var(--color-green-emerald-saber-a-300);
    --content-text-semantic-success-3: var(--color-green-emerald-saber-a-200);
    --content-text-semantic-success-4: var(--color-green-emerald-saber-a-100);
    --content-text-semantic-success-5: var(--color-green-emerald-saber-a-50);
    --content-text-semantic-warning-base: var(--color-orange-sunstreak-a-1000);
    --content-text-semantic-warning-1: var(--color-orange-sunstreak-a-700);
    --content-text-semantic-warning-2: var(--color-orange-sunstreak-a-300);
    --content-text-semantic-warning-3: var(--color-orange-sunstreak-a-200);
    --content-text-semantic-warning-4: var(--color-orange-sunstreak-a-100);
    --content-text-semantic-warning-5: var(--color-orange-sunstreak-a-50);
    --content-text-semantic-error-base: var(--color-red-crimson-wrath-a-1000);
    --content-text-semantic-error-1: var(--color-red-crimson-wrath-a-700);
    --content-text-semantic-error-2: var(--color-red-crimson-wrath-a-300);
    --content-text-semantic-error-3: var(--color-red-crimson-wrath-a-200);
    --content-text-semantic-error-4: var(--color-red-crimson-wrath-a-100);
    --content-text-semantic-error-5: var(--color-red-crimson-wrath-a-50);
    --content-text-semantic-info-base: var(--color-blue-skybolt-a-1000);
    --content-text-semantic-info-1: var(--color-blue-skybolt-a-700);
    --content-text-semantic-info-2: var(--color-blue-skybolt-a-300);
    --content-text-semantic-info-3: var(--color-blue-skybolt-a-200);
    --content-text-semantic-info-4: var(--color-blue-skybolt-a-100);
    --content-text-semantic-info-5: var(--color-blue-skybolt-a-50);
    --content-text-accent-1-base: var(--color-purple-nexus-a-1000);
    --content-text-accent-1-1: var(--color-purple-nexus-a-700);
    --content-text-accent-1-2: var(--color-purple-nexus-a-300);
    --content-text-accent-1-3: var(--color-purple-nexus-a-200);
    --content-text-accent-1-4: var(--color-purple-nexus-a-100);
    --content-text-accent-1-5: var(--color-purple-nexus-a-50);
    --content-text-accent-2-base: var(--color-pink-plasma-circuit-a-1000);
    --content-text-accent-2-1: var(--color-pink-plasma-circuit-a-700);
    --content-text-accent-2-2: var(--color-pink-plasma-circuit-a-300);
    --content-text-accent-2-3: var(--color-pink-plasma-circuit-a-200);
    --content-text-accent-2-4: var(--color-pink-plasma-circuit-a-100);
    --content-text-accent-2-5: var(--color-pink-plasma-circuit-a-50);
    --content-text-accent-3-base: var(--color-teal-sunspark-oasis-a-1000);
    --content-text-accent-3-1: var(--color-teal-sunspark-oasis-a-700);
    --content-text-accent-3-2: var(--color-teal-sunspark-oasis-a-300);
    --content-text-accent-3-3: var(--color-teal-sunspark-oasis-a-200);
    --content-text-accent-3-4: var(--color-teal-sunspark-oasis-a-100);
    --content-text-accent-3-5: var(--color-teal-sunspark-oasis-a-50);
    --content-assets-basic-clear: var(--color-neutrals-clear-dnt-clear);
    --content-assets-basic-black: var(--color-neutrals-pure-black-dnt-1000);
    --content-assets-basic-white: var(--color-neutrals-pure-white-dnt-1000);
    --content-assets-neutral-base: var(--color-neutrals-darth-abyss-a-1000);
    --content-assets-neutral-1: var(--color-neutrals-darth-abyss-a-900);
    --content-assets-neutral-2: var(--color-neutrals-darth-abyss-a-800);
    --content-assets-neutral-3: var(--color-neutrals-darth-abyss-a-500);
    --content-assets-neutral-4: var(--color-neutrals-darth-abyss-a-300);
    --content-assets-neutral-5: var(--color-neutrals-darth-abyss-a-200);
    --content-assets-on-color-dark-dark: var(
      --color-neutrals-darth-abyss-a-1000
    );
    --content-assets-on-color-dark-light: var(
      --color-neutrals-kyber-crystal-a-1000
    );
    --content-assets-on-color-light-dark: var(
      --color-neutrals-darth-abyss-a-1000
    );
    --content-assets-on-color-light-light: var(
      --color-neutrals-kyber-crystal-a-1000
    );
    --content-assets-inverse-base: var(--color-neutrals-kyber-crystal-a-1000);
    --content-assets-inverse-1: var(--color-neutrals-kyber-crystal-a-900);
    --content-assets-inverse-2: var(--color-neutrals-kyber-crystal-a-800);
    --content-assets-inverse-3: var(--color-neutrals-kyber-crystal-a-500);
    --content-assets-inverse-4: var(--color-neutrals-kyber-crystal-a-300);
    --content-assets-inverse-5: var(--color-neutrals-kyber-crystal-a-200);
    --content-assets-brand-base: var(--color-blue-hyperstream-a-1000);
    --content-assets-brand-1: var(--color-blue-hyperstream-a-700);
    --content-assets-brand-2: var(--color-blue-hyperstream-a-300);
    --content-assets-brand-3: var(--color-blue-hyperstream-a-200);
    --content-assets-brand-4: var(--color-blue-hyperstream-a-100);
    --content-assets-brand-5: var(--color-blue-hyperstream-a-50);
    --content-assets-semantic-success-base: var(
      --color-green-emerald-saber-a-1000
    );
    --content-assets-semantic-success-1: var(--color-green-emerald-saber-a-700);
    --content-assets-semantic-success-2: var(--color-green-emerald-saber-a-300);
    --content-assets-semantic-success-3: var(--color-green-emerald-saber-a-50);
    --content-assets-semantic-success-4: var(--color-green-emerald-saber-a-50);
    --content-assets-semantic-success-5: var(--color-green-emerald-saber-a-50);
    --content-assets-semantic-warning-base: var(
      --color-orange-sunstreak-a-1000
    );
    --content-assets-semantic-warning-1: var(--color-orange-sunstreak-a-700);
    --content-assets-semantic-warning-2: var(--color-orange-sunstreak-a-300);
    --content-assets-semantic-warning-3: var(--color-orange-sunstreak-a-50);
    --content-assets-semantic-warning-4: var(--color-orange-sunstreak-a-50);
    --content-assets-semantic-warning-5: var(--color-orange-sunstreak-a-50);
    --content-assets-semantic-error-base: var(--color-red-crimson-wrath-a-1000);
    --content-assets-semantic-error-1: var(--color-red-crimson-wrath-a-700);
    --content-assets-semantic-error-2: var(--color-red-crimson-wrath-a-300);
    --content-assets-semantic-error-3: var(--color-red-crimson-wrath-a-50);
    --content-assets-semantic-error-4: var(--color-red-crimson-wrath-a-50);
    --content-assets-semantic-error-5: var(--color-red-crimson-wrath-a-50);
    --content-assets-semantic-info-base: var(--color-blue-skybolt-a-1000);
    --content-assets-semantic-info-1: var(--color-blue-skybolt-a-700);
    --content-assets-semantic-info-2: var(--color-blue-skybolt-a-300);
    --content-assets-semantic-info-3: var(--color-blue-skybolt-a-50);
    --content-assets-semantic-info-4: var(--color-blue-skybolt-a-50);
    --content-assets-semantic-info-5: var(--color-blue-skybolt-a-50);
    --content-assets-accent-1-base: var(--color-purple-nexus-a-1000);
    --content-assets-accent-1-1: var(--color-purple-nexus-a-700);
    --content-assets-accent-1-2: var(--color-purple-nexus-a-300);
    --content-assets-accent-1-3: var(--color-purple-nexus-a-200);
    --content-assets-accent-1-4: var(--color-purple-nexus-a-100);
    --content-assets-accent-1-5: var(--color-purple-nexus-a-50);
    --content-assets-accent-2-base: var(--color-pink-plasma-circuit-a-1000);
    --content-assets-accent-2-1: var(--color-pink-plasma-circuit-a-700);
    --content-assets-accent-2-2: var(--color-pink-plasma-circuit-a-300);
    --content-assets-accent-2-3: var(--color-pink-plasma-circuit-a-200);
    --content-assets-accent-2-4: var(--color-pink-plasma-circuit-a-100);
    --content-assets-accent-2-5: var(--color-pink-plasma-circuit-a-50);
    --content-assets-accent-3-base: var(--color-teal-sunspark-oasis-a-1000);
    --content-assets-accent-3-1: var(--color-teal-sunspark-oasis-a-700);
    --content-assets-accent-3-2: var(--color-teal-sunspark-oasis-a-300);
    --content-assets-accent-3-3: var(--color-teal-sunspark-oasis-a-200);
    --content-assets-accent-3-4: var(--color-teal-sunspark-oasis-a-100);
    --content-assets-accent-3-5: var(--color-teal-sunspark-oasis-a-50);
    --stroke-basic-black: var(--color-neutrals-pure-black-dnt-1000);
    --stroke-basic-white: var(--color-neutrals-pure-white-dnt-1000);
    --stroke-neutral-base: var(--color-neutrals-darth-abyss-a-1000);
    --stroke-neutral-1: var(--color-neutrals-darth-abyss-a-700);
    --stroke-neutral-2: var(--color-neutrals-darth-abyss-a-500);
    --stroke-neutral-3: var(--color-neutrals-darth-abyss-a-300);
    --stroke-neutral-4: var(--color-neutrals-darth-abyss-a-200);
    --stroke-neutral-5: var(--color-neutrals-darth-abyss-a-100);
    --stroke-neutral-6: var(--color-neutrals-darth-abyss-a-100);
    --stroke-brand-base: var(--color-blue-hyperstream-a-1000);
    --stroke-brand-1: var(--color-blue-hyperstream-a-900);
    --stroke-brand-2: var(--color-blue-hyperstream-a-800);
    --stroke-brand-3: var(--color-blue-hyperstream-a-500);
    --stroke-brand-4: var(--color-blue-hyperstream-a-200);
    --stroke-brand-5: var(--color-blue-hyperstream-a-100);
    --stroke-semantic-success-base: var(--color-green-emerald-saber-a-1000);
    --stroke-focused-highlight: var(--color-blue-hyperstream-a-500);
    --stroke-semantic-success-1: var(--color-green-emerald-saber-a-900);
    --stroke-semantic-success-2: var(--color-green-emerald-saber-a-800);
    --stroke-semantic-success-3: var(--color-green-emerald-saber-a-500);
    --stroke-semantic-success-4: var(--color-green-emerald-saber-a-200);
    --stroke-semantic-success-5: var(--color-green-emerald-saber-a-100);
    --stroke-semantic-warning-base: var(--color-orange-sunstreak-a-1000);
    --stroke-semantic-warning-1: var(--color-orange-sunstreak-a-900);
    --stroke-semantic-warning-2: var(--color-orange-sunstreak-a-600);
    --stroke-semantic-warning-3: var(--color-orange-sunstreak-a-500);
    --stroke-semantic-warning-4: var(--color-orange-sunstreak-a-200);
    --stroke-semantic-warning-5: var(--color-orange-sunstreak-a-100);
    --stroke-semantic-error-base: var(--color-red-crimson-wrath-a-1000);
    --stroke-semantic-error-1: var(--color-red-crimson-wrath-a-900);
    --stroke-semantic-error-2: var(--color-red-crimson-wrath-a-800);
    --stroke-semantic-error-3: var(--color-red-crimson-wrath-a-500);
    --stroke-semantic-error-4: var(--color-red-crimson-wrath-a-200);
    --stroke-semantic-error-5: var(--color-red-crimson-wrath-a-100);
    --stroke-semantic-info-base: var(--color-blue-skybolt-a-1000);
    --stroke-semantic-info-1: var(--color-blue-skybolt-a-900);
    --stroke-semantic-info-2: var(--color-blue-skybolt-a-800);
    --stroke-semantic-info-3: var(--color-blue-skybolt-a-500);
    --stroke-semantic-info-4: var(--color-blue-skybolt-a-200);
    --stroke-semantic-info-5: var(--color-blue-skybolt-a-100);
    --stroke-accent-1-base: var(--color-purple-nexus-a-1000);
    --stroke-accent-1-1: var(--color-purple-nexus-a-900);
    --stroke-accent-1-2: var(--color-purple-nexus-a-800);
    --stroke-accent-1-3: var(--color-purple-nexus-a-500);
    --stroke-accent-1-4: var(--color-purple-nexus-a-200);
    --stroke-accent-1-5: var(--color-purple-nexus-a-100);
    --stroke-accent-2-base: var(--color-pink-plasma-circuit-a-1000);
    --stroke-accent-2-1: var(--color-pink-plasma-circuit-a-900);
    --stroke-accent-2-2: var(--color-pink-plasma-circuit-a-800);
    --stroke-accent-2-3: var(--color-pink-plasma-circuit-a-500);
    --stroke-accent-2-4: var(--color-pink-plasma-circuit-a-200);
    --stroke-accent-2-5: var(--color-pink-plasma-circuit-a-100);
    --stroke-accent-3-base: var(--color-teal-sunspark-oasis-a-1000);
    --stroke-accent-3-1: var(--color-teal-sunspark-oasis-a-900);
    --stroke-accent-3-2: var(--color-teal-sunspark-oasis-a-800);
    --stroke-accent-3-3: var(--color-teal-sunspark-oasis-a-500);
    --stroke-accent-3-4: var(--color-teal-sunspark-oasis-a-200);
    --stroke-accent-3-5: var(--color-teal-sunspark-oasis-a-100);
    --effects-focused-base: var(--color-blue-hyperstream-a-1000);
    --effects-focused-secondary: var(--color-blue-hyperstream-a-400);
    --effects-shadows-base-xs: var(--color-neutrals-darth-abyss-a-200);
    --effects-shadows-base-sm: var(--color-neutrals-darth-abyss-a-300);
    --effects-shadows-base-base: var(--color-neutrals-darth-abyss-a-400);
    --effects-shadows-base-md: var(--color-neutrals-darth-abyss-a-500);
    --effects-shadows-base-lg: var(--color-neutrals-darth-abyss-a-600);
    --effects-shadows-base-xl: var(--color-neutrals-darth-abyss-a-700);
    --effects-shadows-base-2-xl: var(--color-neutrals-darth-abyss-a-800);
    --effects-shadows-inverse-xs: var(--color-neutrals-darth-abyss-a-200);
    --effects-shadows-inverse-sm: var(--color-neutrals-darth-abyss-a-300);
    --effects-shadows-inverse-base: var(--color-neutrals-darth-abyss-a-400);
    --effects-shadows-inverse-md: var(--color-neutrals-darth-abyss-a-500);
    --effects-shadows-inverse-lg: var(--color-neutrals-darth-abyss-a-600);
    --effects-shadows-inverse-xl: var(--color-neutrals-darth-abyss-a-700);
    --effects-shadows-inverse-2-xl: var(--color-neutrals-darth-abyss-a-800);
    --background-accent-4-base: var(--color-orange-sunstreak-a-1000);
    --background-accent-4-1: var(--color-orange-sunstreak-a-900);
    --background-accent-4-2: var(--color-orange-sunstreak-a-700);
    --background-accent-4-3: var(--color-orange-sunstreak-a-500);
    --background-accent-4-4: var(--color-orange-sunstreak-a-400);
    --background-accent-4-5: var(--color-orange-sunstreak-a-200);
    --stroke-accent-4-base: var(--color-orange-sunstreak-a-1000);
    --stroke-accent-4-1: var(--color-orange-sunstreak-a-900);
    --stroke-accent-4-2: var(--color-orange-sunstreak-a-800);
    --stroke-accent-4-3: var(--color-orange-sunstreak-a-500);
    --stroke-accent-4-4: var(--color-orange-sunstreak-a-200);
    --stroke-accent-4-5: var(--color-orange-sunstreak-a-100);
    --content-text-accent-4-base: var(--color-orange-sunstreak-a-1000);
    --content-text-accent-4-1: var(--color-orange-sunstreak-a-700);
    --content-text-accent-4-2: var(--color-orange-sunstreak-a-300);
    --content-text-accent-4-3: var(--color-orange-sunstreak-a-200);
    --content-text-accent-4-4: var(--color-orange-sunstreak-a-100);
    --content-text-accent-4-5: var(--color-orange-sunstreak-a-50);
    --content-assets-accent-4-base: var(--color-orange-sunstreak-a-1000);
    --content-assets-accent-4-1: var(--color-orange-sunstreak-a-700);
    --content-assets-accent-4-2: var(--color-orange-sunstreak-a-300);
    --content-assets-accent-4-3: var(--color-orange-sunstreak-a-200);
    --content-assets-accent-4-4: var(--color-orange-sunstreak-a-100);
    --content-assets-accent-4-5: var(--color-orange-sunstreak-a-50);
  }
}
