.container {
  background: var(--input-background);
  border-radius: var(--input-border-radius);
  border: var(--input-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;

  &.small {
    padding: var(--input-spacing-sm);
  }

  &.medium {
    padding: var(--input-spacing-md);
  }

  &.large {
    padding: var(--input-spacing-lg);
  }

  &:focus-within,
  &:focus-visible {
    border-color: var(--input-border-focus);
    outline: none;
  }

  &.error {
    border-color: var(--error-background);
  }

  &.fullWidth {
    width: 100%;

    .input {
      width: 100%;
    }
  }

  .startAdornment,
  .endAdornment {
    display: flex;
  }

  .startAdornment {
    padding-right: calc(var(--list-item-spacing) / 2);
  }

  .endAdornment {
    padding-left: calc(var(--list-item-spacing) / 2);
  }

  .input {
    flex: 1;
    font-weight: normal;
    background: none;
    font-family: var(--font-family);
    border: none;
    color: var(--input-color);
    padding: 0;
    margin: 0;

    &::placeholder {
      color: var(--input-color-placeholder);
      font-style: var(--input-placeholder-style);
    }

    &:focus {
      outline: none;
    }

    &[disabled],
    &:read-only {
      cursor: not-allowed;
    }
  }
}
