.root {
  background: var(--textarea-background);
  border-radius: var(--textarea-border-radius);
  border: var(--textarea-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  box-sizing: border-box;

  &:focus,
  &:focus-within,
  &:focus-visible {
    border-color: var(--textarea-border-focus);
    outline: none;
  }
}

.input {
  height: 100%;
  resize: none;
  font-weight: normal;
  background: none;
  font-family: var(--font-family);
  border: none;
  color: var(--textarea-color);
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--textarea-color-placeholder);
    font-style: var(--textarea-placeholder-style);
  }

  &[disabled],
  &:read-only {
    cursor: not-allowed;
    color: var(--disabled-color);
  }
}

.error {
  border-color: var(--error-background);
}

.fullWidth {
  width: 100%;

  .input {
    width: 100%;
  }
}

.small {
  padding: var(--textarea-spacing-sm);
}

.medium {
  padding: var(--textarea-spacing-md);
}

.large {
  padding: var(--textarea-spacing-lg);
}
