.range {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: var(--range-track-size);
  background: var(--range-track-background);
  border-radius: var(--range-track-border-radius);
}

.handleDrag {
  position: absolute;
  top: calc(-1 * (var(--range-handle-size) - var(--range-track-size)) / 2);
  left: calc(-1 * var(--range-handle-size) / 2);
  width: var(--range-handle-size);
  height: var(--range-handle-size);
  background: var(--range-handle-background);
  border-radius: var(--range-handle-border-radius);

  /* The hidden input used for keyboard controls */
  input {
    position: absolute;
    left: -9999px;
  }
}

.handle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

.tooltip {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  white-space: nowrap;
  text-align: center;
  background: var(--tooltip-background);
  color: var(--tooltip-color);
}

.rangeHighlight {
  pointer-events: none;
  height: var(--range-track-size);
  background: var(--range-track-active-background);
}

.rangeDisabled {
  opacity: 0.7;

  .handle {
    cursor: not-allowed;
  }
}
