:root,
:host {
  --neutrals-clear-dnt-clear: #ffffff00;
  --neutrals-pure-black-dnt-50: #0000000a;
  --neutrals-pure-black-dnt-100: #00000014;
  --neutrals-pure-black-dnt-200: #0000001f;
  --neutrals-pure-black-dnt-300: #00000033;
  --neutrals-pure-black-dnt-400: #0000004d;
  --neutrals-pure-black-dnt-500: #00000066;
  --neutrals-pure-black-dnt-600: #00000080;
  --neutrals-pure-black-dnt-700: #00000099;
  --neutrals-pure-black-dnt-800: #000000b2;
  --neutrals-pure-black-dnt-900: #000000cc;
  --neutrals-pure-black-dnt-950: #000000e5;
  --neutrals-pure-black-dnt-1000: #000000;
  --neutrals-pure-white-dnt-50: #ffffff0a;
  --neutrals-pure-white-dnt-100: #ffffff14;
  --neutrals-pure-white-dnt-200: #ffffff1f;
  --neutrals-pure-white-dnt-300: #ffffff33;
  --neutrals-pure-white-dnt-400: #ffffff4d;
  --neutrals-pure-white-dnt-500: #ffffff66;
  --neutrals-pure-white-dnt-600: #ffffff80;
  --neutrals-pure-white-dnt-700: #ffffff99;
  --neutrals-pure-white-dnt-800: #ffffffb2;
  --neutrals-pure-white-dnt-900: #ffffffcc;
  --neutrals-pure-white-dnt-950: #ffffffe5;
  --neutrals-pure-white-dnt-1000: #ffffff;
  --neutrals-force-dusk-50: #f7f7fa;
  --neutrals-force-dusk-100: #e6e6f0;
  --neutrals-force-dusk-200: #c9c9d6;
  --neutrals-force-dusk-300: #77778c;
  --neutrals-force-dusk-400: #5c5c73;
  --neutrals-force-dusk-500: #3a3a4d;
  --neutrals-force-dusk-600: #242433;
  --neutrals-force-dusk-700: #191927;
  --neutrals-force-dusk-800: #11111f;
  --neutrals-force-dusk-900: #02020f;
  --neutrals-force-dusk-950: #010105;
  --neutrals-force-dusk-1000: #000003;
  --neutrals-darth-abyss-a-50: #0101050a;
  --neutrals-darth-abyss-a-100: #01010514;
  --neutrals-darth-abyss-a-200: #0101051f;
  --neutrals-darth-abyss-a-300: #01010533;
  --neutrals-darth-abyss-a-400: #0101054d;
  --neutrals-darth-abyss-a-500: #01010566;
  --neutrals-darth-abyss-a-600: #01010580;
  --neutrals-darth-abyss-a-700: #01010599;
  --neutrals-darth-abyss-a-800: #010105b2;
  --neutrals-darth-abyss-a-900: #010105cc;
  --neutrals-darth-abyss-a-950: #010105e5;
  --neutrals-darth-abyss-a-1000: #010105;
  --neutrals-nightblade-a-50: #0101010a;
  --neutrals-nightblade-a-100: #01010114;
  --neutrals-nightblade-a-200: #0101011f;
  --neutrals-nightblade-a-300: #01010133;
  --neutrals-nightblade-a-400: #0101014d;
  --neutrals-nightblade-a-500: #01010166;
  --neutrals-nightblade-a-600: #01010180;
  --neutrals-nightblade-a-700: #01010199;
  --neutrals-nightblade-a-800: #010101b2;
  --neutrals-nightblade-a-900: #010101cc;
  --neutrals-nightblade-a-950: #010101e5;
  --neutrals-nightblade-a-1000: #010101;
  --neutrals-darkstar-core-a-50: #0404060a;
  --neutrals-duskwraith-a-50: #1b20230a;
  --neutrals-duskwraith-a-100: #09090a14;
  --neutrals-duskwraith-a-200: #09090a1f;
  --neutrals-duskwraith-a-300: #09090a33;
  --neutrals-duskwraith-a-400: #09090a4d;
  --neutrals-duskwraith-a-500: #09090a66;
  --neutrals-duskwraith-a-600: #09090a80;
  --neutrals-duskwraith-a-700: #09090a99;
  --neutrals-duskwraith-a-800: #09090ab2;
  --neutrals-duskwraith-a-900: #09090acc;
  --neutrals-duskwraith-a-950: #09090ae5;
  --neutrals-duskwraith-a-1000: #09090a;
  --neutrals-darkstar-core-a-100: #04040614;
  --neutrals-darkstar-core-a-200: #0404061f;
  --neutrals-darkstar-core-a-300: #04040633;
  --neutrals-darkstar-core-a-400: #0404064d;
  --neutrals-darkstar-core-a-500: #04040666;
  --neutrals-darkstar-core-a-600: #04040680;
  --neutrals-darkstar-core-a-700: #04040699;
  --neutrals-darkstar-core-a-800: #040406b2;
  --neutrals-darkstar-core-a-900: #040406cc;
  --neutrals-darkstar-core-a-950: #040406e5;
  --neutrals-darkstar-core-a-1000: #040406;
  --neutrals-kyber-crystal-a-50: #e1e2e30a;
  --neutrals-kyber-crystal-a-100: #e1e2e314;
  --neutrals-kyber-crystal-a-200: #e1e2e31f;
  --neutrals-kyber-crystal-a-300: #e1e2e333;
  --neutrals-kyber-crystal-a-400: #e1e2e34d;
  --neutrals-kyber-crystal-a-500: #e1e2e366;
  --neutrals-kyber-crystal-a-600: #e1e2e380;
  --neutrals-kyber-crystal-a-700: #e1e2e399;
  --neutrals-kyber-crystal-a-800: #e1e2e3b2;
  --neutrals-kyber-crystal-a-900: #e1e2e3cc;
  --neutrals-kyber-crystal-a-950: #e1e2e3e5;
  --neutrals-kyber-crystal-a-1000: #e1e2e3;
  --blue-hyperstream-a-50: #105eff0a;
  --blue-hyperstream-a-100: #105eff14;
  --blue-hyperstream-a-200: #105eff1f;
  --blue-hyperstream-a-300: #105eff33;
  --blue-hyperstream-a-400: #105eff4d;
  --blue-hyperstream-a-500: #105eff66;
  --blue-hyperstream-a-600: #105eff80;
  --blue-hyperstream-a-700: #105eff99;
  --blue-hyperstream-a-800: #105effb2;
  --blue-hyperstream-a-900: #105effcc;
  --blue-hyperstream-a-950: #105effe5;
  --blue-hyperstream-a-1000: #105eff;
  --blue-hyperstream-50: #e7efff;
  --blue-hyperstream-100: #c3d7ff;
  --blue-hyperstream-200: #9fbfff;
  --blue-hyperstream-300: #7ca6ff;
  --blue-hyperstream-400: #588eff;
  --blue-hyperstream-500: #3476ff;
  --blue-hyperstream-600: #105eff;
  --blue-hyperstream-700: #0c44b7;
  --blue-hyperstream-800: #0a3793;
  --blue-hyperstream-900: #082a70;
  --blue-hyperstream-950: #061d4c;
  --blue-hyperstream-1000: #041028;
  --blue-astral-sabre-50: #d1e3ff;
  --blue-astral-sabre-100: #93b5ff;
  --blue-astral-sabre-200: #5471be;
  --blue-astral-sabre-300: #5f7dcc;
  --blue-astral-sabre-400: #4662ae;
  --blue-astral-sabre-500: #38529c;
  --blue-astral-sabre-600: #2b438d;
  --blue-astral-sabre-700: #20377f;
  --blue-astral-sabre-800: #162a71;
  --blue-astral-sabre-900: #0c1c62;
  --blue-astral-sabre-950: #050f45;
  --blue-astral-sabre-1000: #030a35;
  --blue-skybolt-a-50: #1c90e10a;
  --blue-stellar-abyss-a-50: #050f450a;
  --blue-stellar-abyss-a-100: #050f4514;
  --blue-stellar-abyss-a-200: #050f451f;
  --blue-stellar-abyss-a-300: #050f4533;
  --blue-stellar-abyss-a-400: #050f454d;
  --blue-stellar-abyss-a-500: #050f4566;
  --blue-stellar-abyss-a-600: #050f4580;
  --blue-stellar-abyss-a-700: #050f4599;
  --blue-stellar-abyss-a-800: #050f45b2;
  --blue-stellar-abyss-a-900: #050f45cc;
  --blue-stellar-abyss-a-950: #050f45e5;
  --blue-stellar-abyss-a-1000: #050f45;
  --blue-skybolt-a-100: #1c90e114;
  --blue-skybolt-a-200: #1c90e11f;
  --blue-skybolt-a-300: #1c90e133;
  --blue-skybolt-a-400: #1c90e14d;
  --blue-skybolt-a-500: #1c90e166;
  --blue-skybolt-a-600: #1c90e180;
  --blue-skybolt-a-700: #1c90e199;
  --blue-skybolt-a-800: #1c90e1b2;
  --blue-skybolt-a-900: #1c90e1cc;
  --blue-skybolt-a-950: #1c90e1e5;
  --blue-skybolt-a-1000: #1c90e1;
  --green-emerald-saber-a-50: #00c46f0a;
  --green-emerald-saber-a-100: #00c46f14;
  --green-emerald-saber-a-200: #00c46f1f;
  --green-emerald-saber-a-300: #00c46f33;
  --green-emerald-saber-a-400: #00c46f4d;
  --green-emerald-saber-a-500: #00c46f66;
  --green-emerald-saber-a-600: #00c46f80;
  --green-emerald-saber-a-700: #00c46f99;
  --green-emerald-saber-a-800: #00c46fb2;
  --green-emerald-saber-a-900: #00c46fcc;
  --green-emerald-saber-a-950: #00c46fe5;
  --green-emerald-saber-a-1000: #00c46f;
  --green-ion-sprout-50: #f4fae5;
  --green-ion-sprout-100: #e3f3bf;
  --green-ion-sprout-200: #c6e880;
  --green-ion-sprout-300: #aadc40;
  --green-ion-sprout-400: #8ed000;
  --green-ion-sprout-500: #78b001;
  --green-ion-sprout-600: #628f01;
  --green-ion-sprout-700: #4c6f02;
  --green-ion-sprout-800: #364e02;
  --green-ion-sprout-900: #202e03;
  --green-ion-sprout-950: #121a02;
  --green-ion-sprout-1000: #050801;
  --green-ion-sprout-a-50: #8ed0000a;
  --green-ion-sprout-a-100: #8ed00014;
  --green-ion-sprout-a-200: #8ed0001f;
  --green-ion-sprout-a-300: #8ed00033;
  --green-ion-sprout-a-400: #8ed0004d;
  --green-ion-sprout-a-500: #8ed00066;
  --green-ion-sprout-a-600: #8ed00080;
  --green-ion-sprout-a-700: #8ed00099;
  --green-ion-sprout-a-800: #8ed000b2;
  --green-ion-sprout-a-900: #8ed000cc;
  --green-ion-sprout-a-950: #8ed000e5;
  --green-ion-sprout-a-1000: #8ed000;
  --green-verdant-flux-50: #eef8e9;
  --green-verdant-flux-100: #d5efc8;
  --green-verdant-flux-200: #aadf91;
  --green-verdant-flux-300: #80ce5b;
  --green-verdant-flux-400: #55be24;
  --green-verdant-flux-500: #469d1d;
  --green-verdant-flux-600: #377c16;
  --green-verdant-flux-700: #275c10;
  --green-verdant-flux-800: #183b09;
  --green-verdant-flux-900: #091a02;
  --green-verdant-flux-950: #040d01;
  --green-verdant-flux-1000: #020500;
  --green-verdant-flux-a-50: #55be240a;
  --green-verdant-flux-a-100: #55be2414;
  --green-verdant-flux-a-200: #55be241f;
  --green-verdant-flux-a-300: #55be2433;
  --green-verdant-flux-a-400: #55be244d;
  --green-verdant-flux-a-500: #55be2466;
  --green-verdant-flux-a-600: #55be2480;
  --green-verdant-flux-a-700: #55be2499;
  --green-verdant-flux-a-800: #55be24b2;
  --green-verdant-flux-a-900: #55be24cc;
  --green-verdant-flux-a-950: #55be24e5;
  --green-verdant-flux-a-1000: #55be24;
  --red-infernal-blade-a-50: #fc12340a;
  --red-infernal-blade-a-100: #fc123414;
  --red-infernal-blade-a-200: #fc12341f;
  --red-infernal-blade-a-300: #fc123433;
  --red-infernal-blade-a-400: #fc12344d;
  --red-infernal-blade-a-500: #fc123466;
  --red-infernal-blade-a-600: #fc123480;
  --red-infernal-blade-a-700: #fc123499;
  --red-infernal-blade-a-800: #fc1234b2;
  --red-infernal-blade-a-900: #fc1234cc;
  --red-infernal-blade-a-950: #fc1234e5;
  --red-infernal-blade-a-1000: #fc1234;
  --red-malachor-50: #f7f2f2;
  --red-malachor-100: #f0e4e4;
  --red-malachor-200: #dfc6c6;
  --red-malachor-300: #cda1a1;
  --red-malachor-400: #ba7272;
  --red-malachor-500: #a40808;
  --red-malachor-600: #930707;
  --red-malachor-700: #7f0606;
  --red-malachor-800: #680505;
  --red-malachor-900: #490404;
  --red-malachor-950: #240202;
  --red-malachor-1000: #0a0101;
  --red-malachor-a-50: #a408080a;
  --red-malachor-a-100: #a4080814;
  --red-malachor-a-200: #a408081f;
  --red-malachor-a-300: #a4080833;
  --red-malachor-a-400: #a408084d;
  --red-malachor-a-500: #a4080866;
  --red-malachor-a-600: #a4080880;
  --red-malachor-a-700: #a4080899;
  --red-malachor-a-800: #a40808b2;
  --red-malachor-a-900: #a40808cc;
  --red-malachor-a-950: #a40808e5;
  --red-malachor-a-1000: #a40808;
  --red-crimson-wrath-50: #fce5e6;
  --red-crimson-wrath-100: #f7bfc1;
  --red-crimson-wrath-200: #f08083;
  --red-crimson-wrath-300: #e84045;
  --red-crimson-wrath-400: #e00007;
  --red-crimson-wrath-500: #b70006;
  --red-crimson-wrath-600: #8e0005;
  --red-crimson-wrath-700: #660104;
  --red-crimson-wrath-800: #3d0103;
  --red-crimson-wrath-900: #200204;
  --red-crimson-wrath-950: #140103;
  --red-crimson-wrath-1000: #080001;
  --red-crimson-wrath-a-50: #e000070a;
  --red-crimson-wrath-a-100: #e0000714;
  --red-crimson-wrath-a-200: #e000071f;
  --red-crimson-wrath-a-300: #e0000733;
  --red-crimson-wrath-a-400: #e000074d;
  --red-crimson-wrath-a-500: #e0000766;
  --red-crimson-wrath-a-600: #e0000780;
  --red-crimson-wrath-a-700: #e0000799;
  --red-crimson-wrath-a-800: #e00007b2;
  --red-crimson-wrath-a-900: #e00007cc;
  --red-crimson-wrath-a-950: #e00007e5;
  --red-crimson-wrath-a-1000: #e00007;
  --yellow-twin-sunlight-a-50: #ffc6000a;
  --yellow-twin-sunlight-a-100: #ffc60014;
  --yellow-twin-sunlight-a-200: #ffc6001f;
  --yellow-twin-sunlight-a-300: #ffc60033;
  --yellow-twin-sunlight-a-400: #ffc6004d;
  --yellow-twin-sunlight-a-500: #ffc60066;
  --yellow-twin-sunlight-a-600: #ffc60080;
  --yellow-twin-sunlight-a-700: #ffc60099;
  --yellow-twin-sunlight-a-800: #ffc600b2;
  --yellow-twin-sunlight-a-900: #ffc600cc;
  --yellow-twin-sunlight-a-950: #ffc600e5;
  --yellow-twin-sunlight-a-1000: #ffc600;
  --yellow-twin-sunlight-50: #fff9e5;
  --yellow-twin-sunlight-100: #fff1bf;
  --yellow-twin-sunlight-200: #ffe380;
  --yellow-twin-sunlight-300: #ffd440;
  --yellow-twin-sunlight-400: #ffc600;
  --yellow-twin-sunlight-500: #d2a300;
  --yellow-twin-sunlight-600: #a58001;
  --yellow-twin-sunlight-700: #785e01;
  --yellow-twin-sunlight-800: #4b3b02;
  --yellow-twin-sunlight-900: #261f03;
  --yellow-twin-sunlight-950: #1a1502;
  --yellow-twin-sunlight-1000: #0a0801;
  --yellow-stellar-amber-50: #fdf9e9;
  --yellow-stellar-amber-100: #fbf2d0;
  --yellow-stellar-amber-200: #faecb5;
  --yellow-stellar-amber-300: #f8e594;
  --yellow-stellar-amber-400: #f6de69;
  --yellow-stellar-amber-500: #f4d70d;
  --yellow-stellar-amber-600: #dfc40c;
  --yellow-stellar-amber-700: #c7af0b;
  --yellow-stellar-amber-800: #ad9809;
  --yellow-stellar-amber-900: #8d7c08;
  --yellow-stellar-amber-950: #635805;
  --yellow-stellar-amber-1000: #4d4404;
  --yellow-stellar-amber-a-50: #dfc40c0a;
  --yellow-stellar-amber-a-100: #dfc40c14;
  --yellow-stellar-amber-a-200: #dfc40c1f;
  --yellow-stellar-amber-a-300: #dfc40c33;
  --yellow-stellar-amber-a-400: #dfc40c4d;
  --yellow-stellar-amber-a-500: #dfc40c66;
  --yellow-stellar-amber-a-600: #dfc40c80;
  --yellow-stellar-amber-a-700: #dfc40c99;
  --yellow-stellar-amber-a-800: #dfc40cb2;
  --yellow-stellar-amber-a-900: #dfc40ccc;
  --yellow-stellar-amber-a-950: #dfc40ce5;
  --yellow-stellar-amber-a-1000: #dfc40c;
  --orange-sunstreak-a-50: #f685000a;
  --orange-sunstreak-a-100: #f6850014;
  --orange-sunstreak-a-200: #f685001f;
  --orange-sunstreak-a-300: #f6850033;
  --orange-sunstreak-a-400: #f685004d;
  --orange-sunstreak-a-500: #f6850066;
  --orange-sunstreak-a-600: #f6850080;
  --orange-sunstreak-a-700: #f6850099;
  --orange-sunstreak-a-800: #f68500b2;
  --orange-sunstreak-a-900: #f68500cc;
  --orange-sunstreak-a-950: #f68500e5;
  --orange-sunstreak-a-1000: #f68500;
  --orange-sunstreak-50: #fef3e5;
  --orange-sunstreak-100: #fde1bf;
  --orange-sunstreak-200: #fbc280;
  --orange-sunstreak-300: #f8a340;
  --orange-sunstreak-400: #f68500;
  --orange-sunstreak-500: #cb6e00;
  --orange-sunstreak-600: #9f5701;
  --orange-sunstreak-700: #743f01;
  --orange-sunstreak-800: #482802;
  --orange-sunstreak-900: #251602;
  --orange-sunstreak-950: #1a0f01;
  --orange-sunstreak-1000: #0a0600;
  --purple-voidshade-a-50: #601ef90a;
  --purple-voidshade-a-100: #601ef914;
  --purple-voidshade-a-200: #601ef91f;
  --purple-voidshade-a-300: #601ef933;
  --purple-voidshade-a-400: #601ef94d;
  --purple-voidshade-a-500: #601ef966;
  --purple-voidshade-a-600: #601ef980;
  --purple-voidshade-a-700: #601ef999;
  --purple-voidshade-a-800: #601ef9b2;
  --purple-voidshade-a-900: #601ef9cc;
  --purple-voidshade-a-950: #601ef9e5;
  --purple-voidshade-a-1000: #601ef9;
  --purple-nexus-50: #f0e8fd;
  --purple-nexus-100: #dac5f9;
  --purple-nexus-200: #b58bf3;
  --purple-nexus-300: #9152ee;
  --purple-nexus-400: #6c18e8;
  --purple-nexus-500: #5b14c5;
  --purple-nexus-600: #4b10a1;
  --purple-nexus-700: #3a0d7e;
  --purple-nexus-800: #2a095b;
  --purple-nexus-900: #190537;
  --purple-nexus-950: #0e031f;
  --purple-nexus-1000: #06010d;
  --purple-nexus-a-50: #6c18e80a;
  --purple-nexus-a-100: #6c18e814;
  --purple-nexus-a-200: #6c18e81f;
  --purple-nexus-a-300: #6c18e833;
  --purple-nexus-a-400: #6c18e84d;
  --purple-nexus-a-500: #6c18e866;
  --purple-nexus-a-600: #6c18e880;
  --purple-nexus-a-700: #6c18e899;
  --purple-nexus-a-800: #6c18e8b2;
  --purple-nexus-a-900: #6c18e8cc;
  --purple-nexus-a-950: #6c18e8e5;
  --purple-nexus-a-1000: #6c18e8;
  --pink-plasma-circuit-50: #fde5f1;
  --pink-plasma-circuit-100: #f9bfdb;
  --pink-plasma-circuit-200: #f480b7;
  --pink-plasma-circuit-300: #ee4094;
  --pink-plasma-circuit-400: #de006b;
  --pink-plasma-circuit-500: #bb015a;
  --pink-plasma-circuit-600: #98014a;
  --pink-plasma-circuit-700: #740239;
  --pink-plasma-circuit-800: #510229;
  --pink-plasma-circuit-900: #2e0318;
  --pink-plasma-circuit-950: #1f0210;
  --pink-plasma-circuit-1000: #0d0107;
  --pink-plasma-circuit-a-50: #de006b0a;
  --pink-plasma-circuit-a-100: #de006b14;
  --pink-plasma-circuit-a-200: #de006b1f;
  --pink-plasma-circuit-a-300: #de006b33;
  --pink-plasma-circuit-a-400: #de006b4d;
  --pink-plasma-circuit-a-500: #de006b66;
  --pink-plasma-circuit-a-600: #de006b80;
  --pink-plasma-circuit-a-700: #de006b99;
  --pink-plasma-circuit-a-800: #de006bb2;
  --pink-plasma-circuit-a-900: #de006bcc;
  --pink-plasma-circuit-a-950: #de006be5;
  --pink-plasma-circuit-a-1000: #de006b;
  --teal-sunspark-oasis-50: #e5fbf9;
  --teal-sunspark-oasis-100: #bff6f0;
  --teal-sunspark-oasis-200: #80ede0;
  --teal-sunspark-oasis-300: #40e5d1;
  --teal-sunspark-oasis-400: #00dcc2;
  --teal-sunspark-oasis-500: #00c2ab;
  --teal-sunspark-oasis-600: #019a88;
  --teal-sunspark-oasis-700: #017365;
  --teal-sunspark-oasis-800: #024b42;
  --teal-sunspark-oasis-900: #02231f;
  --teal-sunspark-oasis-950: #011412;
  --teal-sunspark-oasis-1000: #010a09;
  --teal-sunspark-oasis-a-50: #00dcc20a;
  --teal-sunspark-oasis-a-100: #00dcc214;
  --teal-sunspark-oasis-a-200: #00dcc21f;
  --teal-sunspark-oasis-a-300: #00dcc233;
  --teal-sunspark-oasis-a-400: #00dcc24d;
  --teal-sunspark-oasis-a-500: #00dcc266;
  --teal-sunspark-oasis-a-600: #00dcc280;
  --teal-sunspark-oasis-a-700: #00dcc299;
  --teal-sunspark-oasis-a-800: #00dcc2b2;
  --teal-sunspark-oasis-a-900: #00dcc2cc;
  --teal-sunspark-oasis-a-950: #00dcc2e5;
  --teal-sunspark-oasis-a-1000: #00dcc2;
  --purple-fuchsia-50: #f7f3fd;
  --purple-fuchsia-100: #efecf9;
  --purple-fuchsia-200: #d6cdee;
  --purple-fuchsia-300: #bcafe4;
  --purple-fuchsia-400: #a390da;
  --purple-fuchsia-500: #8972d0;
  --purple-fuchsia-600: #7053c5;
  --purple-fuchsia-700: #6040bf;
  --purple-fuchsia-800: #4b3295;
  --purple-fuchsia-900: #3c2876;
  --purple-fuchsia-950: #2c1d58;
  --purple-fuchsia-1000: #1d1339;
  --purple-fuchsia-a-50: #7053c50a;
  --purple-fuchsia-a-100: #7053c514;
  --purple-fuchsia-a-200: #7053c51f;
  --purple-fuchsia-a-300: #7053c533;
  --purple-fuchsia-a-400: #7053c54d;
  --purple-fuchsia-a-500: #7053c566;
  --purple-fuchsia-a-600: #7053c580;
  --purple-fuchsia-a-700: #7053c599;
  --purple-fuchsia-a-800: #7053c5b2;
  --purple-fuchsia-a-900: #7053c5cc;
  --purple-fuchsia-a-950: #7053c5e5;
  --purple-fuchsia-a-1000: #7053c5;
  --orange-molten-fang-a-50: #ee5e210a;
  --orange-molten-fang-a-100: #ee5e2114;
  --orange-molten-fang-a-200: #ee5e211f;
  --orange-molten-fang-a-300: #ee5e2133;
  --orange-molten-fang-a-400: #ee5e214d;
  --orange-molten-fang-a-500: #ee5e2166;
  --orange-molten-fang-a-600: #ee5e2180;
  --orange-molten-fang-a-700: #ee5e2199;
  --orange-molten-fang-a-800: #ee5e21b2;
  --orange-molten-fang-a-900: #ee5e21cc;
  --orange-molten-fang-a-950: #ee5e21e5;
  --orange-molten-fang-a-1000: #ee5e21;
  --neutrals-celestial-veil-a-50: #e7f2fc0a;
  --neutrals-celestial-veil-a-100: #e7f2fc14;
  --neutrals-celestial-veil-a-200: #e7f2fc1f;
  --neutrals-celestial-veil-a-300: #e7f2fc33;
  --neutrals-celestial-veil-a-400: #e7f2fc4d;
  --neutrals-celestial-veil-a-500: #e7f2fc66;
  --neutrals-celestial-veil-a-600: #e7f2fc80;
  --neutrals-celestial-veil-a-700: #e7f2fc99;
  --neutrals-celestial-veil-a-800: #e7f2fcb2;
  --neutrals-celestial-veil-a-900: #e7f2fccc;
  --neutrals-celestial-veil-a-950: #e7f2fce5;
  --neutrals-celestial-veil-a-1000: #e7f2fc;
  --neutrals-echo-light-a-50: #f5f5f50a;
  --neutrals-echo-light-a-100: #f5f5f514;
  --neutrals-echo-light-a-200: #f5f5f51f;
  --neutrals-echo-light-a-300: #f5f5f533;
  --neutrals-echo-light-a-400: #f5f5f54d;
  --neutrals-echo-light-a-500: #f5f5f566;
  --neutrals-echo-light-a-600: #f5f5f580;
  --neutrals-echo-light-a-700: #f5f5f599;
  --neutrals-echo-light-a-800: #f5f5f5b2;
  --neutrals-echo-light-a-900: #f5f5f5cc;
  --neutrals-echo-light-a-950: #f5f5f5e5;
  --neutrals-echo-light-a-1000: #f5f5f5;
  --teal-sunspark-oasis-50-2: #e5fbf9;
  --teal-sunspark-oasis-100-2: #bff6f0;
  --teal-sunspark-oasis-200-2: #80ede0;
  --teal-sunspark-oasis-300-2: #40e5d1;
  --teal-sunspark-oasis-400-2: #00dcc2;
  --teal-sunspark-oasis-500-2: #00c2ab;
  --teal-sunspark-oasis-600-2: #019a88;
  --teal-sunspark-oasis-700-2: #017365;
  --teal-sunspark-oasis-800-2: #024b42;
  --teal-sunspark-oasis-900-2: #02231f;
  --teal-sunspark-oasis-50-3: #e5fbf9;
  --teal-sunspark-oasis-100-3: #bff6f0;
  --teal-sunspark-oasis-200-3: #80ede0;
  --teal-sunspark-oasis-300-3: #40e5d1;
  --teal-sunspark-oasis-400-3: #00dcc2;
  --teal-sunspark-oasis-500-3: #00c2ab;
  --teal-sunspark-oasis-600-3: #019a88;
  --teal-sunspark-oasis-700-3: #017365;
  --teal-sunspark-oasis-800-3: #024b42;
  --teal-sunspark-oasis-900-3: #02231f;
  --pink-mew-mode-50: #e709730a;
  --pink-mew-mode-100: #e7097314;
  --pink-mew-mode-200: #e709731f;
  --pink-mew-mode-300: #e7097333;
  --pink-mew-mode-400: #e709734d;
  --pink-mew-mode-500: #e7097366;
  --pink-mew-mode-600: #e7097380;
  --pink-mew-mode-700: #e7097399;
  --pink-mew-mode-800: #e70973b2;
  --pink-mew-mode-900: #e70973cc;
  --pink-mew-mode-950: #e70973e5;
  --pink-mew-mode-1000: #e70973;
}
