:root,
:host {
  /* Root level */
  --spacing-padding-zero: 0px;
  --spacing-padding-4xs: 2px;
  --spacing-padding-3xs: 4px;
  --spacing-padding-2xs: 6px;
  --spacing-padding-xs: 8px;
  --spacing-padding-sm: 12px;
  --spacing-padding-base: 16px;
  --spacing-padding-lg: 20px;
  --spacing-padding-xl: 24px;
  --spacing-padding-2xl: 32px;
  --spacing-padding-3xl: 40px;
  --spacing-padding-4xl: 48px;
  --spacing-padding-5xl: 56px;
  --spacing-padding-6xl: 64px;
  --spacing-padding-7xl: 72px;
  --spacing-padding-8xl: 80px;

  --spacing-space-between-zero: 0px;
  --spacing-space-between-3xs: 2px;
  --spacing-space-between-2xs: 4px;
  --spacing-space-between-xs: 8px;
  --spacing-space-between-sm: 12px;
  --spacing-space-between-base: 16px;
  --spacing-space-between-lg: 20px;
  --spacing-space-between-xl: 24px;
  --spacing-space-between-2xl: 32px;
  --spacing-space-between-3xl: 40px;
  --spacing-space-between-4xl: 80px;

  --spacing-layout-grid-horizontal-base: 24px;
  --spacing-layout-grid-vertical-horizontal: 24px;

  --sizing-dividers-details-base: 1px;
  --sizing-dividers-details-seconary: 2px;
  --sizing-dividers-details-tertiary: 4px;

  --sizing-asset-3xs: 8px;
  --sizing-asset-2xs: 10px;
  --sizing-asset-xs: 12px;
  --sizing-asset-sm: 16px;
  --sizing-asset-md-base: 18px;
  --sizing-asset-lg: 24px;
  --sizing-asset-xl: 32px;
  --sizing-asset-2xl: 40px;
  --sizing-asset-3xl: 48px;
  --sizing-asset-4xl: 80px;

  --sizing-size-tokens-4xs: 16px;
  --sizing-size-tokens-3xs: 20px;
  --sizing-size-tokens-2xs: 24px;
  --sizing-size-tokens-xs: 28px;
  --sizing-size-tokens-sm: 32px;
  --sizing-size-tokens-base: 40px;
  --sizing-size-tokens-lg: 48px;
  --sizing-size-tokens-xl: 56px;
  --sizing-size-tokens-2xl: 72px;
  --sizing-size-tokens-3xl: 80px;
  --sizing-size-tokens-4xl: 100px;
  --sizing-size-tokens-5xl: 256px;
  --sizing-size-tokens-6xl: 320px;

  --corner-radius-primary: 6px;
  --corner-radius-lg: 12px;
  --corner-radius-sm: 4px;
  --corner-radius-pill: 100px;
  --corner-radius-sharp: 0px;

  /* Component level */
  --icons-size-xs: 12px;
  --icons-size-sm: 16px;
  --icons-size-base: 18px;
  --icons-size-lg: 24px;
  --icons-size-xl: 40px;

  --avatar-details-size-container-xl: var(--sizing-size-tokens-3xl);
  --avatar-details-size-container-lg: var(--sizing-size-tokens-lg);
  --avatar-details-size-container-md: var(--sizing-size-tokens-sm);
  --avatar-details-size-container-sm: var(--sizing-size-tokens-2xs);
  --avatar-details-size-status-xl: var(--sizing-asset-lg);
  --avatar-details-size-status-lg: var(--sizing-asset-sm);
  --avatar-details-size-status-md: var(--sizing-asset-xs);
  --avatar-details-size-status-sm: var(--sizing-asset-3xs);
  --avatar-details-corner-radius-container: var(--corner-radius-pill);
  --avatar-details-corner-radius-notification: var(--corner-radius-pill);
  --avatar-details-asset-size-xl: var(--sizing-asset-2xl);
  --avatar-details-asset-size-lg: var(--sizing-asset-lg);
  --avatar-details-asset-size-md: var(--sizing-asset-sm);
  --avatar-details-asset-size-sm: var(--sizing-asset-sm);

  /* Badge */
  --badges-details-height-sm: var(--sizing-size-tokens-3xs);
  --badges-details-height-md: var(--sizing-size-tokens-2xs);
  --badges-details-height-lg: var(--sizing-size-tokens-xs);
  --badges-details-horizontal-padding-sm: var(--spacing-padding-2xs);
  --badges-details-horizontal-padding-md: var(--spacing-padding-2xs);
  --badges-details-horizontal-padding-lg: var(--spacing-padding-xs);
  --badges-details-space-between-sm: var(--spacing-space-between-3xs);
  --badges-details-space-between-md: var(--spacing-space-between-3xs);
  --badges-details-space-between-lg: var(--spacing-space-between-2xs);
  --badges-details-corner-radius-corner-radius: var(--corner-radius-pill);
  --badges-details-asset-size-sm: var(--sizing-asset-xs);
  --badges-details-asset-size-base: var(--sizing-asset-xs);
  --badges-details-asset-size-lg: var(--sizing-asset-sm);

  /* Breadcrumbs */
  --breadcrumbs-details-space-between-sm: var(--spacing-space-between-2xs);
  --breadcrumbs-details-space-between-lg: var(--spacing-space-between-xs);
  --breadcrumbs-details-asset-size-sm: var(--sizing-asset-xs);
  --breadcrumbs-details-asset-size-lg: var(--sizing-asset-sm);

  /* Buttons */
  --buttons-details-height-core-icon-lg: var(--sizing-size-tokens-base);
  --buttons-details-height-core-icon-md: var(--sizing-size-tokens-sm);
  --buttons-details-height-core-icon-sm: var(--sizing-size-tokens-xs);
  --buttons-details-height-core-icon-xs: var(--sizing-size-tokens-3xs);
  --buttons-details-horizontal-padding-sm: var(--spacing-padding-xs);
  --buttons-details-horizontal-padding-md: var(--spacing-padding-sm);
  --buttons-details-horizontal-padding-lg: var(--spacing-padding-base);
  --buttons-details-space-between-horizontal-sm: var(
    --spacing-space-between-2xs
  );
  --buttons-details-space-between-horizontal-md: var(
    --spacing-space-between-2xs
  );
  --buttons-details-space-between-horizontal-lg: var(
    --spacing-space-between-xs
  );
  --buttons-details-corner-radius-base: var(--corner-radius-primary);
  --buttons-details-corner-radius-alternate: var(--corner-radius-sharp);
  --buttons-details-corner-radius-xs: var(--corner-radius-sm);
  --buttons-details-asset-size-lg: var(--sizing-asset-md-base);
  --buttons-details-asset-size-md: var(--sizing-asset-sm);
  --buttons-details-asset-size-sm: var(--sizing-asset-sm);
  --buttons-details-asset-size-xs: var(--sizing-asset-sm);
  --buttons-details-space-between-vertical-sm: var(
    --spacing-space-between-zero
  );
  --buttons-details-space-between-vertical-md: var(
    --spacing-space-between-zero
  );
  --buttons-details-space-between-vertical-lg: var(--spacing-space-between-3xs);
  --buttons-details-height-underline-detail-sm: 1px;
  --buttons-details-height-underline-detail-md: 1px;
  --buttons-details-height-underline-detail-lg: 1px;

  /* Calendar */
  --calendar-details-height-default: var(--sizing-size-tokens-sm);
  --calendar-details-corner-radius-default: var(--corner-radius-sm);
  --calendar-details-horizontal-padding-header: var(--spacing-padding-xs);
  --calendar-details-vertical-padding-default: var(--spacing-padding-sm);
  --calendar-details-vertical-padding-inside: var(--spacing-padding-xs);
  --calendar-details-space-between-default: var(--spacing-space-between-xs);
  --calendar-details-space-between-secondary: var(--spacing-space-between-zero);
  --calendar-details-space-between-content: var(--spacing-space-between-2xs);
  --calendar-details-horizontal-padding-content: var(--spacing-padding-sm);

  /* Inputs */
  --inputs-details-height-input-lg: var(--sizing-size-tokens-base);
  --inputs-details-height-input-md: var(--sizing-size-tokens-sm);
  --inputs-details-height-input-sm: var(--sizing-size-tokens-xs);
  --inputs-details-horizontal-padding-left-lg: var(--spacing-padding-sm);
  --inputs-details-horizontal-padding-left-md: var(--spacing-padding-sm);
  --inputs-details-horizontal-padding-left-sm: var(--spacing-padding-xs);
  --inputs-details-horizontal-padding-right-lg: var(--spacing-padding-sm);
  --inputs-details-horizontal-padding-right-md: var(--spacing-padding-sm);
  --inputs-details-horizontal-padding-right-sm: var(--spacing-padding-xs);
  --inputs-details-horizontal-padding-inside-lg: var(--spacing-padding-xs);
  --inputs-details-horizontal-padding-inside-md: var(--spacing-padding-xs);
  --inputs-details-horizontal-padding-inside-sm: var(--spacing-padding-xs);
  --inputs-details-vertical-padding-default: var(--spacing-padding-xs);
  --inputs-details-space-between-horizontal-lg: var(--spacing-space-between-xs);
  --inputs-details-space-between-horizontal-md: var(--spacing-space-between-xs);
  --inputs-details-space-between-horizontal-sm: var(--spacing-space-between-xs);
  --inputs-details-space-between-horizontal-zero: var(
    --spacing-space-between-zero
  );
  --inputs-details-corner-radius-primary: var(--corner-radius-primary);
  --inputs-details-asset-size-lg: var(--sizing-asset-md-base);
  --inputs-details-asset-size-md: var(--sizing-asset-sm);
  --inputs-details-asset-size-sm: var(--sizing-asset-sm);

  --indicators-details-height-lg: var(--sizing-size-tokens-3xs);
  --indicators-details-height-sm: var(--sizing-size-tokens-4xs);
  --indicators-details-horizontal-padding-sm: var(--spacing-padding-2xs);
  --indicators-details-horizontal-padding-lg: var(--spacing-padding-xs);
  --indicators-details-corner-radius-corner-radius: var(
    --corner-radius-primary
  );
  --navigation-details-height-width-container-top-nav: var(
    --sizing-size-tokens-3xl
  );
  --navigation-details-height-width-container-side-nav: var(
    --sizing-size-tokens-3xl
  );
  --navigation-details-height-width-container-side-nav-expanded: 320px;
  --navigation-details-height-width-container-floating: 320px;
  --navigation-details-height-width-items-side-nav: var(
    --sizing-size-tokens-lg
  );
  --navigation-details-height-width-items-top-nav: var(
    --sizing-size-tokens-base
  );
  --navigation-details-height-width-items-active-detail: var(
    --sizing-dividers-details-seconary
  );
  --navigation-details-horizontal-padding-container-main: var(
    --spacing-padding-xl
  );
  --navigation-details-horizontal-padding-container-secondary: var(
    --spacing-padding-base
  );
  --navigation-details-horizontal-padding-nav-item-main-row: var(
    --spacing-padding-base
  );
  --navigation-details-horizontal-padding-nav-item-sub-menu: var(
    --spacing-padding-2xl
  );
  --navigation-details-vertical-padding-base: var(--spacing-padding-base);
  --navigation-details-vertical-padding-active-detail: var(
    --spacing-padding-4xs
  );
  --navigation-details-vertical-padding-sub-menu: var(--spacing-padding-4xs);
  --navigation-details-space-between-sections-top-nav: var(
    --spacing-space-between-4xl
  );
  --navigation-details-space-between-sections-left-nav: var(
    --spacing-space-between-3xl
  );
  --navigation-details-space-between-items-left-nav: var(
    --spacing-space-between-sm
  );
  --navigation-details-space-between-items-top-nav: var(
    --spacing-space-between-3xs
  );
  --navigation-details-space-between-items-sub-menu: var(
    --spacing-space-between-zero
  );
  --navigation-details-corner-radius-container: var(--corner-radius-sharp);
  --navigation-details-corner-radius-alt-container: var(
    --corner-radius-primary
  );
  --navigation-details-corner-radius-row-item: var(--corner-radius-primary);
  --navigation-details-asset-size-base: var(--sizing-asset-md-base);
  --notifications-details-horizontal-padding-standard-compact: var(
    --spacing-padding-lg
  );
  --notifications-details-horizontal-padding-standard-base: var(
    --spacing-padding-2xl
  );
  --notifications-details-horizontal-padding-zero-zero: var(
    --spacing-padding-zero
  );
  --notifications-details-vertical-padding-standard-sm: var(
    --spacing-padding-base
  );
  --notifications-details-vertical-padding-standard-base: var(
    --spacing-padding-2xl
  );
  --notifications-details-vertical-padding-zero-zero: var(
    --spacing-padding-zero
  );
  --notifications-details-space-between-standard-xs: var(
    --spacing-space-between-2xs
  );
  --notifications-details-space-between-standard-sm: var(
    --spacing-space-between-xs
  );
  --notifications-details-space-between-standard-base: var(
    --spacing-space-between-base
  );
  --notifications-details-space-between-standard-lg: var(
    --spacing-space-between-xl
  );
  --notifications-details-space-between-standard-xl: var(
    --spacing-space-between-xs
  );
  --notifications-details-space-between-zero-zero: var(
    --spacing-space-between-zero
  );
  --notifications-details-corner-radius-primary: var(--corner-radius-primary);
  --notifications-details-corner-radius-sharp: var(--corner-radius-sharp);
  --notifications-details-asset-size-compact: var(--sizing-asset-sm);
  --notifications-details-asset-size-base: var(--sizing-asset-md-base);
  --selectors-details-height-lg: var(--sizing-size-tokens-3xs);
  --selectors-details-height-sm: var(--sizing-size-tokens-4xs);
  --selectors-details-height-range-bar: var(--sizing-dividers-details-tertiary);
  --selectors-details-height-range-handle: var(--sizing-asset-sm);
  --selectors-details-width-radio-checkbox-lg: var(--sizing-size-tokens-3xs);
  --selectors-details-width-radio-checkbox-sm: var(--sizing-size-tokens-4xs);
  --selectors-details-width-toggle-lg: var(--sizing-size-tokens-sm);
  --selectors-details-width-toggle-sm: var(--sizing-size-tokens-xs);
  --selectors-details-vertical-padding-lg: var(--spacing-padding-4xs);
  --selectors-details-vertical-padding-sm: var(--spacing-padding-zero);
  --select-menu-items-details-height-base: var(--sizing-size-tokens-base);
  --select-menu-items-details-horizontal-padding-container: var(
    --spacing-padding-2xs
  );
  --select-menu-items-details-horizontal-padding-header: var(
    --spacing-padding-3xs
  );
  --select-menu-items-details-horizontal-padding-row: var(--spacing-padding-sm);
  --select-menu-items-details-horizontal-padding-sub-row: var(
    --spacing-padding-base
  );
  --select-menu-items-details-vertical-padding-base: var(--spacing-padding-xs);
  --select-menu-items-details-space-between-sections: var(
    --spacing-space-between-3xs
  );
  --select-menu-items-details-space-between-rows: var(
    --spacing-space-between-3xs
  );
  --select-menu-items-details-space-between-content-main: var(
    --spacing-space-between-sm
  );
  --select-menu-items-details-space-between-content-secondary: var(
    --spacing-space-between-xs
  );
  --select-menu-items-details-corner-radius-container: var(
    --corner-radius-primary
  );
  --select-menu-items-details-corner-radius-header: var(
    --corner-radius-primary
  );
  --select-menu-items-details-corner-radius-row: var(--corner-radius-primary);
  --select-menu-items-details-asset-size-lead-trail-icon: var(
    --sizing-asset-md-base
  );
  --selectors-details-vertical-padding-zero: var(--spacing-padding-zero);
  --selectors-details-space-between-horizontal-lg: var(
    --spacing-space-between-sm
  );
  --selectors-details-space-between-horizontal-sm: var(
    --spacing-space-between-sm
  );
  --selectors-details-corner-radius-radio-lg: var(--corner-radius-pill);
  --selectors-details-corner-radius-checkbox-lg: var(--corner-radius-primary);
  --selectors-details-corner-radius-checkbox-sm: var(--corner-radius-sm);
  --selectors-details-corner-radius-radio-sm: var(--corner-radius-pill);
  --selectors-details-corner-radius-toggle-lg: var(--corner-radius-pill);
  --selectors-details-corner-radius-toggle-sm: var(--corner-radius-pill);
  --selectors-details-asset-size-radio-checkbox-lg: 16px;
  --selectors-details-asset-size-radio-checkbox-sm: 12px;
  --tabs-details-height-lg: var(--sizing-size-tokens-sm);
  --tabs-details-height-sm: var(--sizing-size-tokens-2xs);
  --tabs-details-horizontal-padding-lg: var(--spacing-padding-sm);
  --tabs-details-horizontal-padding-sm: var(--spacing-padding-xs);
  --tabs-details-vertical-padding-lg: var(--spacing-padding-3xs);
  --tabs-details-vertical-padding-sm: var(--spacing-padding-4xs);
  --tabs-details-space-between-lg: var(--spacing-space-between-xs);
  --tabs-details-space-between-sm: var(--spacing-space-between-2xs);
  --tabs-details-corner-radius-contained-lg: var(--corner-radius-primary);
  --tabs-details-corner-radius-contained-sm: var(--corner-radius-primary);
  --tabs-details-asset-size-lg: var(--sizing-asset-sm);
  --tabs-details-asset-size-sm: var(--sizing-asset-xs);
  --tabs-details-stroke-width-underline-lg: 2px;
  --tabs-details-stroke-width-underline-sm: 1px;
  --table-details-height-cell-regular: var(--sizing-size-tokens-lg);
  --table-details-height-cell-condensed: var(--sizing-size-tokens-base);
  --table-details-height-header-lg: var(--sizing-size-tokens-sm);
  --table-details-height-header-sm: var(--sizing-size-tokens-2xs);
  --table-details-padding-header-container-base: var(--spacing-padding-3xs);
  --table-details-padding-row-cell-lg: var(--spacing-padding-base);
  --table-details-padding-row-cell-sm: var(--spacing-padding-sm);
  --table-details-space-between-columns: var(--spacing-space-between-zero);
  --table-details-space-between-rows: var(--spacing-space-between-zero);
  --table-details-space-between-innner-primary: var(--spacing-space-between-sm);
  --table-details-space-between-inner-secondary: var(
    --spacing-space-between-xs
  );
  --table-details-space-between-inner-tertiary: var(
    --spacing-space-between-3xs
  );
  --table-details-corner-radius-cell-header: var(--corner-radius-primary);
  --table-details-corner-radius-cell-row: var(--corner-radius-primary);
  --table-details-asset-size-lead-trail-icon-lg: var(--sizing-asset-md-base);
  --table-details-asset-size-lead-trail-icon-sm: var(--sizing-asset-sm);
  --table-details-asset-size-lead-trail-icon-xl: var(--sizing-asset-lg);

  --tags-details-height-base: var(--sizing-size-tokens-xs);
  --tags-details-horizontal-padding-base: var(--spacing-padding-xs);
  --tags-details-space-between-base: var(--spacing-space-between-sm);
  --tags-details-space-between-content: var(--spacing-space-between-2xs);
  --tags-details-space-between-label: var(--spacing-space-between-3xs);
  --tags-details-space-between-detail: var(--spacing-space-between-zero);
  --tags-details-corner-radius-base: var(--corner-radius-sm);
  --tags-details-asset-size-icon: var(--sizing-asset-md-base);
  --tags-details-asset-size-close: var(--sizing-asset-sm);

  --inputs-details-height-text-area-base: var(--sizing-size-tokens-3xl);
  --inputs-details-space-between-vertical-lg: var(--spacing-space-between-xs);
  --inputs-details-space-between-vertical-md: var(--spacing-space-between-xs);
  --inputs-details-space-between-vertical-sm: var(--spacing-space-between-2xs);
  --selectors-details-space-between-vertical-lg: var(
    --spacing-space-between-3xs
  );
  --selectors-details-space-between-vertical-sm: var(
    --spacing-space-between-3xs
  );
  --selectors-details-asset-size-toggle-lg: 16px;
  --selectors-details-asset-size-toggle-sm: 12px;
  --tabs-details-corner-radius-underline-detail-line: var(
    --corner-radius-primary
  );
  --tabs-details-corner-radius-outline-lg: var(--corner-radius-primary);
  --tabs-details-corner-radius-outline-sm: var(--corner-radius-primary);
  --tooltip-details-height-lg: var(--sizing-size-tokens-3xs);
  --tooltip-details-height-sm: var(--sizing-size-tokens-4xs);
  --tooltip-details-horizontal-padding-sm: var(--spacing-padding-2xs);
  --tooltip-details-horizontal-padding-lg: var(--spacing-padding-xs);
  --tooltip-details-corner-radius-corner-radius: var(--corner-radius-sm);
  --json-tree-details-horizontal-spacing-default: var(
    --spacing-space-between-2xs
  );
  --json-tree-details-vertical-spacing-default: var(--spacing-space-between-xs);
  --selectors-details-corner-radius-range-lg: var(--corner-radius-sm);
  --table-details-asset-size-sort-arrows-lg: var(--sizing-asset-sm);
  --table-details-asset-size-sort-arrows-sm: var(--sizing-asset-xs);
  --table-details-padding-header-cell-lg: var(--spacing-padding-base);
  --table-details-padding-header-cell-sm: var(--spacing-padding-sm);
  --table-details-padding-row-container-lg: var(--spacing-padding-xs);
  --table-details-padding-row-container-sm: var(--spacing-padding-4xs);
  --table-details-corner-radius-container-header: var(--corner-radius-primary);
  --table-details-corner-radius-container-row: var(--corner-radius-primary);
  --table-details-height-dividing-line-base: var(
    --sizing-dividers-details-seconary
  );
  --table-details-corner-radius-dividing-line-base: var(
    --corner-radius-primary
  );
  --table-details-padding-dividing-line-lg: var(--spacing-padding-xs);
  --tags-details-min-width-base: var(--sizing-size-tokens-base);
  --navigation-details-space-between-content-left-nav: var(
    --spacing-space-between-sm
  );
  --navigation-details-space-between-content-text-stack: var(
    --spacing-space-between-zero
  );
}
