.container {
  width: 100%;
  box-sizing: border-box;
  line-height: 1;

  .label {
    color: var(--radio-label-color);
    margin-left: var(--spacing-md);
    width: 100%;
    vertical-align: middle;

    &.clickable {
      cursor: pointer;
    }
  }
}

.radio {
  border: var(--radio-stroke-size) solid var(--radio-stroke);
  background-color: var(--radio-background);
  border-radius: 100%;
  will-change: border-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  .indicator {
    border-radius: 100%;
    background-color: var(--radio-indicator-active);
  }

  &.checked {
    border-color: var(--radio-stroke-active);
  }

  &.small {
    width: 14px;
    height: 14px;

    .indicator {
      width: var(--radio-indicator-size, 6px);
      height: var(--radio-indicator-size, 6px);
    }
  }

  &.medium {
    width: 16px;
    height: 16px;

    .indicator {
      width: var(--radio-indicator-size, 8px);
      height: var(--radio-indicator-size, 8px);
    }
  }

  &.large {
    width: 20px;
    height: 20px;

    .indicator {
      width: var(--radio-indicator-size, 10px);
      height: var(--radio-indicator-size, 10px);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
