.container {
  display: flex;
  align-items: center;
  gap: var(--spacer-gap);

  &.inline {
    display: inline-flex;
  }

  &.dense {
    gap: var(--spacer-dense-gap);
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-spaceBetween {
    justify-content: space-between;
  }
}
