.menu {
  background: var(--select-menu-background);
  text-align: center;
  will-change: transform, opacity;
  border-radius: var(--select-menu-border-radius);
  min-width: 112px;
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
  border: var(--select-menu-border);
  box-sizing: border-box;

  .groupItem {
    border: none;
    padding: 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
      text-transform: uppercase;
      padding: var(--spacing-md) 0 var(--spacing-xs) var(--spacing-sm);
      color: var(--select-menu-group-color);
    }
  }

  .option {
    color: var(--select-menu-item-color);
    padding: var(--select-menu-item-spacing);

    &:hover,
    &.active {
      color: var(--select-menu-item-active-color);
      background: var(--select-menu-item-active-background);
    }

    &.selected {
      color: var(--select-menu-item-selected-color);
      background: var(--select-menu-item-selected-background);
    }
  }
}
