.chip {
  white-space: nowrap;
  border-radius: var(--border-radius-sm);

  kbd {
    font-family: var(--mono-font-family);
  }
}

.container {
  display: inline-flex;
  gap: var(--spacing-sm);
  align-items: center;
}
