.node {
  padding-top: var(--spacing-xs);
  margin: 0;
  list-style: none;

  .collapsed {
    transform: rotate(-90deg);
  }

  &.leaf {
    .label {
      padding-left: 17px;
    }
  }

  &.disabled {
    > .label,
    > .button {
      opacity: 0.6;
    }
  }

  .button {
    padding: 0;
    margin: 0 3px 0 0;
    min-width: auto;
    min-height: auto;
    width: auto;
    height: auto;
    transition: transform 100ms ease-in-out;

    .icon {
      vertical-align: middle;
      display: block;
      height: 8px;
      width: 8px;
      margin: var(--spacing-xs);
      fill: #fff;
    }
  }
}

.subtree {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 5px 0 0 20px;

  .node {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.nodeBlock {
  display: flex;
  align-items: center;
}
