.dialog {
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  will-change: transform, opacity;

  &.disableHeader {
    .content {
      padding: 20px;
    }
  }

  &.disablePadding {
    .content,
    .header {
      padding: 0;
    }
  }

  .inner {
    background: var(--color-dialog);
    color: var(--color-on-dialog);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    outline: 0;
    pointer-events: auto;
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
  }

  .header {
    display: flex;
    padding: 20px 20px 10px 20px;

    .headerText {
      margin: 0;
      padding: 0;
      flex: 1;
      display: inline-flex;
    }

    .closeButton {
      margin: 0 0 0 15px;
      opacity: 0.8;
      height: auto;
      width: auto;
      min-width: auto;
      min-height: auto;
      display: inline-flex;
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
      align-items: center;
      color: var(--color-on-dialog);
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }
  }

  .content {
    padding: 10px 20px 20px 20px;
    flex: auto;
    overflow: auto;
  }

  .footer {
    display: flex;
    padding: 20px 20px 10px 20px;
  }
}
