.item {
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  &.clickable {
    cursor: pointer;
  }

  &.clickable:hover,
  &.active {
    background: var(--primary-background);
    color: var(--primary-color-hover);
  }
}
