.listItem {
  align-items: center;
  display: flex;
  padding: var(--list-item-spacing);
  position: relative;

  .startAdornment {
    padding-right: calc(var(--list-item-spacing) / 2);
  }

  .endAdornment {
    padding-left: calc(var(--list-item-spacing) / 2);
  }

  .startAdornment,
  .endAdornment {
    align-items: center;
    display: flex;
  }

  .content {
    font-size: 14px;
    flex: 1;
    white-space: break-spaces;
    word-break: break-word;
  }

  &.active {
    text-decoration: underline;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.clickable {
    cursor: pointer;
  }

  &.dense {
    padding: var(--list-item-dense-spacing);

    .content {
      font-size: 95%;
    }
  }

  &.disableGutters {
    padding-left: 0;
    padding-right: 0;
  }

  &.disablePadding {
    padding: 0;
  }
}
