.listItem {
  align-items: center;
  display: flex;
  padding: var(--list-item-spacing);
  position: relative;
  border-radius: var(--list-item-border-radius);
  color: var(--list-item-color);
  transition: color 0.3s ease;

  .startAdornment {
    padding-right: calc(var(--spacing-md) / 2);
  }

  .endAdornment {
    padding-left: calc(var(--spacing-md) / 2);
  }

  .startAdornment,
  .endAdornment {
    align-items: center;
    display: flex;

    svg {
      fill: var(--list-item-adornment-fill);
    }
  }

  .content {
    font-size: 14px;
    flex: 1;
    white-space: break-spaces;
    word-break: break-word;
  }

  &.active {
    text-decoration: underline;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.clickable {
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      color: var(--list-item-color-active);
      background-color: var(--list-item-background-active);
    }
  }

  &.dense {
    padding: var(--list-item-dense-spacing);

    .content {
      font-size: 95%;
    }

    .startAdornment {
      padding-right: calc(var(--spacing-sm) / 2);
    }

    .endAdornment {
      padding-left: calc(var(--spacing-sm) / 2);
    }
  }

  &.disableGutters {
    padding-left: 0;
    padding-right: 0;
  }

  &.disablePadding {
    padding: 0;
  }
}
