/* Colors */
--color-neutrals-clear-dnt-clear: #ffffff00;
--color-neutrals-pure-black-dnt-50: #0000000a;
--color-neutrals-pure-black-dnt-100: #00000014;
--color-neutrals-pure-black-dnt-200: #0000001f;
--color-neutrals-pure-black-dnt-300: #00000033;
--color-neutrals-pure-black-dnt-400: #0000004d;
--color-neutrals-pure-black-dnt-500: #00000066;
--color-neutrals-pure-black-dnt-600: #00000080;
--color-neutrals-pure-black-dnt-700: #00000099;
--color-neutrals-pure-black-dnt-800: #000000b2;
--color-neutrals-pure-black-dnt-900: #000000cc;
--color-neutrals-pure-black-dnt-950: #000000e5;
--color-neutrals-pure-black-dnt-1000: #000000;
--color-neutrals-pure-white-dnt-50: #ffffff0a;
--color-neutrals-pure-white-dnt-100: #ffffff14;
--color-neutrals-pure-white-dnt-200: #ffffff1f;
--color-neutrals-pure-white-dnt-300: #ffffff33;
--color-neutrals-pure-white-dnt-400: #ffffff4d;
--color-neutrals-pure-white-dnt-500: #ffffff66;
--color-neutrals-pure-white-dnt-600: #ffffff80;
--color-neutrals-pure-white-dnt-700: #ffffff99;
--color-neutrals-pure-white-dnt-800: #ffffffb2;
--color-neutrals-pure-white-dnt-900: #ffffffcc;
--color-neutrals-pure-white-dnt-950: #ffffffe5;
--color-neutrals-pure-white-dnt-1000: #ffffff;
--color-neutrals-force-dusk-50: #f7f7fa;
--color-neutrals-force-dusk-100: #e6e6f0;
--color-neutrals-force-dusk-200: #c9c9d6;
--color-neutrals-force-dusk-300: #77778c;
--color-neutrals-force-dusk-400: #5c5c73;
--color-neutrals-force-dusk-500: #3a3a4d;
--color-neutrals-force-dusk-600: #242433;
--color-neutrals-force-dusk-700: #191927;
--color-neutrals-force-dusk-800: #11111f;
--color-neutrals-force-dusk-900: #02020f;
--color-neutrals-force-dusk-950: #010105;
--color-neutrals-force-dusk-1000: #000003;
--color-neutrals-darth-abyss-a-0: #1a1a1a00;
--color-neutrals-darth-abyss-a-50: #1a1a1a0a;
--color-neutrals-darth-abyss-a-100: #1a1a1a14;
--color-neutrals-darth-abyss-a-200: #1a1a1a1f;
--color-neutrals-darth-abyss-a-300: #1a1a1a33;
--color-neutrals-darth-abyss-a-400: #1a1a1a4d;
--color-neutrals-darth-abyss-a-500: #1a1a1a66;
--color-neutrals-darth-abyss-a-600: #1a1a1a80;
--color-neutrals-darth-abyss-a-700: #1a1a1a99;
--color-neutrals-darth-abyss-a-800: #1a1a1ab2;
--color-neutrals-darth-abyss-a-900: #1a1a1acc;
--color-neutrals-darth-abyss-a-950: #1a1a1ae5;
--color-neutrals-darth-abyss-a-1000: #1a1a1a;
--color-neutrals-kyber-crystal-a-0: #e1e2e300;
--color-neutrals-nightblade-a-50: #0101010a;
--color-neutrals-nightblade-a-100: #01010114;
--color-neutrals-nightblade-a-200: #0101011f;
--color-neutrals-nightblade-a-300: #01010133;
--color-neutrals-nightblade-a-400: #0101014d;
--color-neutrals-nightblade-a-500: #01010166;
--color-neutrals-nightblade-a-600: #01010180;
--color-neutrals-nightblade-a-700: #01010199;
--color-neutrals-nightblade-a-800: #010101b2;
--color-neutrals-nightblade-a-900: #010101cc;
--color-neutrals-nightblade-a-950: #010101e5;
--color-neutrals-nightblade-a-1000: #010101;
--color-neutrals-darkstar-core-a-50: #0404060a;
--color-neutrals-duskwraith-a-50: #1b20230a;
--color-neutrals-duskwraith-a-100: #09090a14;
--color-neutrals-duskwraith-a-200: #09090a1f;
--color-neutrals-duskwraith-a-300: #09090a33;
--color-neutrals-duskwraith-a-400: #09090a4d;
--color-neutrals-duskwraith-a-500: #09090a66;
--color-neutrals-duskwraith-a-600: #09090a80;
--color-neutrals-duskwraith-a-700: #09090a99;
--color-neutrals-duskwraith-a-800: #09090ab2;
--color-neutrals-duskwraith-a-900: #09090acc;
--color-neutrals-duskwraith-a-950: #09090ae5;
--color-neutrals-duskwraith-a-1000: #09090a;
--color-neutrals-darkstar-core-a-100: #04040614;
--color-neutrals-darkstar-core-a-200: #0404061f;
--color-neutrals-darkstar-core-a-300: #04040633;
--color-neutrals-darkstar-core-a-400: #0404064d;
--color-neutrals-darkstar-core-a-500: #04040666;
--color-neutrals-darkstar-core-a-600: #04040680;
--color-neutrals-darkstar-core-a-700: #04040699;
--color-neutrals-darkstar-core-a-800: #040406b2;
--color-neutrals-darkstar-core-a-900: #040406cc;
--color-neutrals-darkstar-core-a-950: #040406e5;
--color-neutrals-darkstar-core-a-1000: #040406;
--color-neutrals-kyber-crystal-a-50: #e1e2e30a;
--color-neutrals-kyber-crystal-a-100: #e1e2e314;
--color-neutrals-kyber-crystal-a-200: #e1e2e31f;
--color-neutrals-kyber-crystal-a-300: #e1e2e333;
--color-neutrals-kyber-crystal-a-400: #e1e2e34d;
--color-neutrals-kyber-crystal-a-500: #e1e2e366;
--color-neutrals-kyber-crystal-a-600: #e1e2e380;
--color-neutrals-kyber-crystal-a-700: #e1e2e399;
--color-neutrals-kyber-crystal-a-800: #e1e2e3b2;
--color-neutrals-kyber-crystal-a-900: #e1e2e3cc;
--color-neutrals-kyber-crystal-a-950: #e1e2e3e5;
--color-neutrals-kyber-crystal-a-1000: #e1e2e3;
--color-color-blue-hyperstream-a-50: #105eff0a;
--color-color-blue-hyperstream-a-100: #105eff14;
--color-color-blue-hyperstream-a-200: #105eff1f;
--color-color-blue-hyperstream-a-300: #105eff33;
--color-color-blue-hyperstream-a-400: #105eff4d;
--color-color-blue-hyperstream-a-500: #105eff66;
--color-color-blue-hyperstream-a-600: #105eff80;
--color-color-blue-hyperstream-a-700: #105eff99;
--color-color-blue-hyperstream-a-800: #105effb2;
--color-color-blue-hyperstream-a-900: #105effcc;
--color-color-blue-hyperstream-a-950: #105effe5;
--color-color-blue-hyperstream-a-1000: #105eff;
--color-color-blue-hyperstream-50: #e7efff;
--color-color-blue-hyperstream-100: #c3d7ff;
--color-color-blue-hyperstream-200: #9fbfff;
--color-color-blue-hyperstream-300: #7ca6ff;
--color-color-blue-hyperstream-400: #588eff;
--color-color-blue-hyperstream-500: #3476ff;
--color-color-blue-hyperstream-600: #105eff;
--color-color-blue-hyperstream-700: #0c44b7;
--color-color-blue-hyperstream-800: #0a3793;
--color-color-blue-hyperstream-900: #082a70;
--color-color-blue-hyperstream-950: #061d4c;
--color-color-blue-hyperstream-1000: #041028;
--color-color-blue-astral-sabre-50: #d1e3ff;
--color-color-blue-astral-sabre-100: #93b5ff;
--color-color-blue-astral-sabre-200: #5471be;
--color-color-blue-astral-sabre-300: #5f7dcc;
--color-color-blue-astral-sabre-400: #4662ae;
--color-color-blue-astral-sabre-500: #38529c;
--color-color-blue-astral-sabre-600: #2b438d;
--color-color-blue-astral-sabre-700: #20377f;
--color-color-blue-astral-sabre-800: #162a71;
--color-color-blue-astral-sabre-900: #0c1c62;
--color-color-blue-astral-sabre-950: #050f45;
--color-color-blue-astral-sabre-1000: #030a35;
--color-color-blue-skybolt-a-50: #1c90e10a;
--color-color-blue-stellar-abyss-a-50: #050f450a;
--color-color-blue-stellar-abyss-a-100: #050f4514;
--color-color-blue-stellar-abyss-a-200: #050f451f;
--color-color-blue-stellar-abyss-a-300: #050f4533;
--color-color-blue-stellar-abyss-a-400: #050f454d;
--color-color-blue-stellar-abyss-a-500: #050f4566;
--color-color-blue-stellar-abyss-a-600: #050f4580;
--color-color-blue-stellar-abyss-a-700: #050f4599;
--color-color-blue-stellar-abyss-a-800: #050f45b2;
--color-color-blue-stellar-abyss-a-900: #050f45cc;
--color-color-blue-stellar-abyss-a-950: #050f45e5;
--color-color-blue-stellar-abyss-a-1000: #050f45;
--color-color-blue-skybolt-a-100: #1c90e114;
--color-color-blue-skybolt-a-200: #1c90e11f;
--color-color-blue-skybolt-a-300: #1c90e133;
--color-color-blue-skybolt-a-400: #1c90e14d;
--color-color-blue-skybolt-a-500: #1c90e166;
--color-color-blue-skybolt-a-600: #1c90e180;
--color-color-blue-skybolt-a-700: #1c90e199;
--color-color-blue-skybolt-a-800: #1c90e1b2;
--color-color-blue-skybolt-a-900: #1c90e1cc;
--color-color-blue-skybolt-a-950: #1c90e1e5;
--color-color-blue-skybolt-a-1000: #1c90e1;
--color-color-green-emerald-saber-a-50: #00c46f0a;
--color-color-green-emerald-saber-a-100: #00c46f14;
--color-color-green-emerald-saber-a-200: #00c46f1f;
--color-color-green-emerald-saber-a-300: #00c46f33;
--color-color-green-emerald-saber-a-400: #00c46f4d;
--color-color-green-emerald-saber-a-500: #00c46f66;
--color-color-green-emerald-saber-a-600: #00c46f80;
--color-color-green-emerald-saber-a-700: #00c46f99;
--color-color-green-emerald-saber-a-800: #00c46fb2;
--color-color-green-emerald-saber-a-900: #00c46fcc;
--color-color-green-emerald-saber-a-950: #00c46fe5;
--color-color-green-emerald-saber-a-1000: #00c46f;
--color-color-green-ion-sprout-50: #f4fae5;
--color-color-green-ion-sprout-100: #e3f3bf;
--color-color-green-ion-sprout-200: #c6e880;
--color-color-green-ion-sprout-300: #aadc40;
--color-color-green-ion-sprout-400: #8ed000;
--color-color-green-ion-sprout-500: #78b001;
--color-color-green-ion-sprout-600: #628f01;
--color-color-green-ion-sprout-700: #4c6f02;
--color-color-green-ion-sprout-800: #364e02;
--color-color-green-ion-sprout-900: #202e03;
--color-color-green-ion-sprout-950: #121a02;
--color-color-green-ion-sprout-1000: #050801;
--color-color-green-ion-sprout-a-50: #8ed0000a;
--color-color-green-ion-sprout-a-100: #8ed00014;
--color-color-green-ion-sprout-a-200: #8ed0001f;
--color-color-green-ion-sprout-a-300: #8ed00033;
--color-color-green-ion-sprout-a-400: #8ed0004d;
--color-color-green-ion-sprout-a-500: #8ed00066;
--color-color-green-ion-sprout-a-600: #8ed00080;
--color-color-green-ion-sprout-a-700: #8ed00099;
--color-color-green-ion-sprout-a-800: #8ed000b2;
--color-color-green-ion-sprout-a-900: #8ed000cc;
--color-color-green-ion-sprout-a-950: #8ed000e5;
--color-color-green-ion-sprout-a-1000: #8ed000;
--color-color-green-verdant-flux-50: #eef8e9;
--color-color-green-verdant-flux-100: #d5efc8;
--color-color-green-verdant-flux-200: #aadf91;
--color-color-green-verdant-flux-300: #80ce5b;
--color-color-green-verdant-flux-400: #55be24;
--color-color-green-verdant-flux-500: #469d1d;
--color-color-green-verdant-flux-600: #377c16;
--color-color-green-verdant-flux-700: #275c10;
--color-color-green-verdant-flux-800: #183b09;
--color-color-green-verdant-flux-900: #091a02;
--color-color-green-verdant-flux-950: #040d01;
--color-color-green-verdant-flux-1000: #020500;
--color-color-green-verdant-flux-a-50: #55be240a;
--color-color-green-verdant-flux-a-100: #55be2414;
--color-color-green-verdant-flux-a-200: #55be241f;
--color-color-green-verdant-flux-a-300: #55be2433;
--color-color-green-verdant-flux-a-400: #55be244d;
--color-color-green-verdant-flux-a-500: #55be2466;
--color-color-green-verdant-flux-a-600: #55be2480;
--color-color-green-verdant-flux-a-700: #55be2499;
--color-color-green-verdant-flux-a-800: #55be24b2;
--color-color-green-verdant-flux-a-900: #55be24cc;
--color-color-green-verdant-flux-a-950: #55be24e5;
--color-color-green-verdant-flux-a-1000: #55be24;
--color-color-red-infernal-blade-a-50: #fc12340a;
--color-color-red-infernal-blade-a-100: #fc123414;
--color-color-red-infernal-blade-a-200: #fc12341f;
--color-color-red-infernal-blade-a-300: #fc123433;
--color-color-red-infernal-blade-a-400: #fc12344d;
--color-color-red-infernal-blade-a-500: #fc123466;
--color-color-red-infernal-blade-a-600: #fc123480;
--color-color-red-infernal-blade-a-700: #fc123499;
--color-color-red-infernal-blade-a-800: #fc1234b2;
--color-color-red-infernal-blade-a-900: #fc1234cc;
--color-color-red-infernal-blade-a-950: #fc1234e5;
--color-color-red-infernal-blade-a-1000: #fc1234;
--color-color-red-malachor-50: #f7f2f2;
--color-color-red-malachor-100: #f0e4e4;
--color-color-red-malachor-200: #dfc6c6;
--color-color-red-malachor-300: #cda1a1;
--color-color-red-malachor-400: #ba7272;
--color-color-red-malachor-500: #a40808;
--color-color-red-malachor-600: #930707;
--color-color-red-malachor-700: #7f0606;
--color-color-red-malachor-800: #680505;
--color-color-red-malachor-900: #490404;
--color-color-red-malachor-950: #240202;
--color-color-red-malachor-1000: #0a0101;
--color-color-red-malachor-a-50: #a408080a;
--color-color-red-malachor-a-100: #a4080814;
--color-color-red-malachor-a-200: #a408081f;
--color-color-red-malachor-a-300: #a4080833;
--color-color-red-malachor-a-400: #a408084d;
--color-color-red-malachor-a-500: #a4080866;
--color-color-red-malachor-a-600: #a4080880;
--color-color-red-malachor-a-700: #a4080899;
--color-color-red-malachor-a-800: #a40808b2;
--color-color-red-malachor-a-900: #a40808cc;
--color-color-red-malachor-a-950: #a40808e5;
--color-color-red-malachor-a-1000: #a40808;
--color-color-red-crimson-wrath-50: #fce5e6;
--color-color-red-crimson-wrath-100: #f7bfc1;
--color-color-red-crimson-wrath-200: #f08083;
--color-color-red-crimson-wrath-300: #e84045;
--color-color-red-crimson-wrath-400: #e00007;
--color-color-red-crimson-wrath-500: #b70006;
--color-color-red-crimson-wrath-600: #8e0005;
--color-color-red-crimson-wrath-700: #660104;
--color-color-red-crimson-wrath-800: #3d0103;
--color-color-red-crimson-wrath-900: #200204;
--color-color-red-crimson-wrath-950: #140103;
--color-color-red-crimson-wrath-1000: #080001;
--color-color-red-crimson-wrath-a-50: #e000070a;
--color-color-red-crimson-wrath-a-100: #e0000714;
--color-color-red-crimson-wrath-a-200: #e000071f;
--color-color-red-crimson-wrath-a-300: #e0000733;
--color-color-red-crimson-wrath-a-400: #e000074d;
--color-color-red-crimson-wrath-a-500: #e0000766;
--color-color-red-crimson-wrath-a-600: #e0000780;
--color-color-red-crimson-wrath-a-700: #e0000799;
--color-color-red-crimson-wrath-a-800: #e00007b2;
--color-color-red-crimson-wrath-a-900: #e00007cc;
--color-color-red-crimson-wrath-a-950: #e00007e5;
--color-color-red-crimson-wrath-a-1000: #e00007;
--color-color-yellow-twin-sunlight-a-50: #ffc6000a;
--color-color-yellow-twin-sunlight-a-100: #ffc60014;
--color-color-yellow-twin-sunlight-a-200: #ffc6001f;
--color-color-yellow-twin-sunlight-a-300: #ffc60033;
--color-color-yellow-twin-sunlight-a-400: #ffc6004d;
--color-color-yellow-twin-sunlight-a-500: #ffc60066;
--color-color-yellow-twin-sunlight-a-600: #ffc60080;
--color-color-yellow-twin-sunlight-a-700: #ffc60099;
--color-color-yellow-twin-sunlight-a-800: #ffc600b2;
--color-color-yellow-twin-sunlight-a-900: #ffc600cc;
--color-color-yellow-twin-sunlight-a-950: #ffc600e5;
--color-color-yellow-twin-sunlight-a-1000: #ffc600;
--color-color-yellow-twin-sunlight-50: #fff9e5;
--color-color-yellow-twin-sunlight-100: #fff1bf;
--color-color-yellow-twin-sunlight-200: #ffe380;
--color-color-yellow-twin-sunlight-300: #ffd440;
--color-color-yellow-twin-sunlight-400: #ffc600;
--color-color-yellow-twin-sunlight-500: #d2a300;
--color-color-yellow-twin-sunlight-600: #a58001;
--color-color-yellow-twin-sunlight-700: #785e01;
--color-color-yellow-twin-sunlight-800: #4b3b02;
--color-color-yellow-twin-sunlight-900: #261f03;
--color-color-yellow-twin-sunlight-950: #1a1502;
--color-color-yellow-twin-sunlight-1000: #0a0801;
--color-color-yellow-stellar-amber-50: #fdf9e9;
--color-color-yellow-stellar-amber-100: #fbf2d0;
--color-color-yellow-stellar-amber-200: #faecb5;
--color-color-yellow-stellar-amber-300: #f8e594;
--color-color-yellow-stellar-amber-400: #f6de69;
--color-color-yellow-stellar-amber-500: #f4d70d;
--color-color-yellow-stellar-amber-600: #dfc40c;
--color-color-yellow-stellar-amber-700: #c7af0b;
--color-color-yellow-stellar-amber-800: #ad9809;
--color-color-yellow-stellar-amber-900: #8d7c08;
--color-color-yellow-stellar-amber-950: #635805;
--color-color-yellow-stellar-amber-1000: #4d4404;
--color-color-yellow-stellar-amber-a-50: #dfc40c0a;
--color-color-yellow-stellar-amber-a-100: #dfc40c14;
--color-color-yellow-stellar-amber-a-200: #dfc40c1f;
--color-color-yellow-stellar-amber-a-300: #dfc40c33;
--color-color-yellow-stellar-amber-a-400: #dfc40c4d;
--color-color-yellow-stellar-amber-a-500: #dfc40c66;
--color-color-yellow-stellar-amber-a-600: #dfc40c80;
--color-color-yellow-stellar-amber-a-700: #dfc40c99;
--color-color-yellow-stellar-amber-a-800: #dfc40cb2;
--color-color-yellow-stellar-amber-a-900: #dfc40ccc;
--color-color-yellow-stellar-amber-a-950: #dfc40ce5;
--color-color-yellow-stellar-amber-a-1000: #dfc40c;
--color-color-orange-sunstreak-a-50: #f685000a;
--color-color-orange-sunstreak-a-100: #f6850014;
--color-color-orange-sunstreak-a-200: #f685001f;
--color-color-orange-sunstreak-a-300: #f6850033;
--color-color-orange-sunstreak-a-400: #f685004d;
--color-color-orange-sunstreak-a-500: #f6850066;
--color-color-orange-sunstreak-a-600: #f6850080;
--color-color-orange-sunstreak-a-700: #f6850099;
--color-color-orange-sunstreak-a-800: #f68500b2;
--color-color-orange-sunstreak-a-900: #f68500cc;
--color-color-orange-sunstreak-a-950: #f68500e5;
--color-color-orange-sunstreak-a-1000: #f68500;
--color-color-orange-sunstreak-50: #fef3e5;
--color-color-orange-sunstreak-100: #fde1bf;
--color-color-orange-sunstreak-200: #fbc280;
--color-color-orange-sunstreak-300: #f8a340;
--color-color-orange-sunstreak-400: #f68500;
--color-color-orange-sunstreak-500: #cb6e00;
--color-color-orange-sunstreak-600: #9f5701;
--color-color-orange-sunstreak-700: #743f01;
--color-color-orange-sunstreak-800: #482802;
--color-color-orange-sunstreak-900: #251602;
--color-color-orange-sunstreak-950: #1a0f01;
--color-color-orange-sunstreak-1000: #0a0600;
--color-color-purple-voidshade-a-50: #601ef90a;
--color-color-purple-voidshade-a-100: #601ef914;
--color-color-purple-voidshade-a-200: #601ef91f;
--color-color-purple-voidshade-a-300: #601ef933;
--color-color-purple-voidshade-a-400: #601ef94d;
--color-color-purple-voidshade-a-500: #601ef966;
--color-color-purple-voidshade-a-600: #601ef980;
--color-color-purple-voidshade-a-700: #601ef999;
--color-color-purple-voidshade-a-800: #601ef9b2;
--color-color-purple-voidshade-a-900: #601ef9cc;
--color-color-purple-voidshade-a-950: #601ef9e5;
--color-color-purple-voidshade-a-1000: #601ef9;
--color-color-purple-nexus-50: #f0e8fd;
--color-color-purple-nexus-100: #dac5f9;
--color-color-purple-nexus-200: #b58bf3;
--color-color-purple-nexus-300: #9152ee;
--color-color-purple-nexus-400: #6c18e8;
--color-color-purple-nexus-500: #5b14c5;
--color-color-purple-nexus-600: #4b10a1;
--color-color-purple-nexus-700: #3a0d7e;
--color-color-purple-nexus-800: #2a095b;
--color-color-purple-nexus-900: #190537;
--color-color-purple-nexus-950: #0e031f;
--color-color-purple-nexus-1000: #06010d;
--color-color-purple-nexus-a-50: #6c18e80a;
--color-color-purple-nexus-a-100: #6c18e814;
--color-color-purple-nexus-a-200: #6c18e81f;
--color-color-purple-nexus-a-300: #6c18e833;
--color-color-purple-nexus-a-400: #6c18e84d;
--color-color-purple-nexus-a-500: #6c18e866;
--color-color-purple-nexus-a-600: #6c18e880;
--color-color-purple-nexus-a-700: #6c18e899;
--color-color-purple-nexus-a-800: #6c18e8b2;
--color-color-purple-nexus-a-900: #6c18e8cc;
--color-color-purple-nexus-a-950: #6c18e8e5;
--color-color-purple-nexus-a-1000: #6c18e8;
--color-color-pink-plasma-circuit-50: #fde5f1;
--color-color-pink-plasma-circuit-100: #f9bfdb;
--color-color-pink-plasma-circuit-200: #f480b7;
--color-color-pink-plasma-circuit-300: #ee4094;
--color-color-pink-plasma-circuit-400: #de006b;
--color-color-pink-plasma-circuit-500: #bb015a;
--color-color-pink-plasma-circuit-600: #98014a;
--color-color-pink-plasma-circuit-700: #740239;
--color-color-pink-plasma-circuit-800: #510229;
--color-color-pink-plasma-circuit-900: #2e0318;
--color-color-pink-plasma-circuit-950: #1f0210;
--color-color-pink-plasma-circuit-1000: #0d0107;
--color-color-pink-plasma-circuit-a-50: #de006b0a;
--color-color-pink-plasma-circuit-a-100: #de006b14;
--color-color-pink-plasma-circuit-a-200: #de006b1f;
--color-color-pink-plasma-circuit-a-300: #de006b33;
--color-color-pink-plasma-circuit-a-400: #de006b4d;
--color-color-pink-plasma-circuit-a-500: #de006b66;
--color-color-pink-plasma-circuit-a-600: #de006b80;
--color-color-pink-plasma-circuit-a-700: #de006b99;
--color-color-pink-plasma-circuit-a-800: #de006bb2;
--color-color-pink-plasma-circuit-a-900: #de006bcc;
--color-color-pink-plasma-circuit-a-950: #de006be5;
--color-color-pink-plasma-circuit-a-1000: #de006b;
--color-color-teal-sunspark-oasis-50: #e5fbf9;
--color-color-teal-sunspark-oasis-100: #bff6f0;
--color-color-teal-sunspark-oasis-200: #80ede0;
--color-color-teal-sunspark-oasis-300: #40e5d1;
--color-color-teal-sunspark-oasis-400: #00dcc2;
--color-color-teal-sunspark-oasis-500: #00c2ab;
--color-color-teal-sunspark-oasis-600: #019a88;
--color-color-teal-sunspark-oasis-700: #017365;
--color-color-teal-sunspark-oasis-800: #024b42;
--color-color-teal-sunspark-oasis-900: #02231f;
--color-color-teal-sunspark-oasis-950: #011412;
--color-color-teal-sunspark-oasis-1000: #010a09;
--color-color-teal-sunspark-oasis-a-50: #00dcc20a;
--color-color-teal-sunspark-oasis-a-100: #00dcc214;
--color-color-teal-sunspark-oasis-a-200: #00dcc21f;
--color-color-teal-sunspark-oasis-a-300: #00dcc233;
--color-color-teal-sunspark-oasis-a-400: #00dcc24d;
--color-color-teal-sunspark-oasis-a-500: #00dcc266;
--color-color-teal-sunspark-oasis-a-600: #00dcc280;
--color-color-teal-sunspark-oasis-a-700: #00dcc299;
--color-color-teal-sunspark-oasis-a-800: #00dcc2b2;
--color-color-teal-sunspark-oasis-a-900: #00dcc2cc;
--color-color-teal-sunspark-oasis-a-950: #00dcc2e5;
--color-color-teal-sunspark-oasis-a-1000: #00dcc2;
--color-color-purple-fuchsia-50: #f7f3fd;
--color-color-purple-fuchsia-100: #efecf9;
--color-color-purple-fuchsia-200: #d6cdee;
--color-color-purple-fuchsia-300: #bcafe4;
--color-color-purple-fuchsia-400: #a390da;
--color-color-purple-fuchsia-500: #8972d0;
--color-color-purple-fuchsia-600: #7053c5;
--color-color-purple-fuchsia-700: #6040bf;
--color-color-purple-fuchsia-800: #4b3295;
--color-color-purple-fuchsia-900: #3c2876;
--color-color-purple-fuchsia-950: #2c1d58;
--color-color-purple-fuchsia-1000: #1d1339;
--color-color-purple-fuchsia-a-50: #7053c50a;
--color-color-purple-fuchsia-a-100: #7053c514;
--color-color-purple-fuchsia-a-200: #7053c51f;
--color-color-purple-fuchsia-a-300: #7053c533;
--color-color-purple-fuchsia-a-400: #7053c54d;
--color-color-purple-fuchsia-a-500: #7053c566;
--color-color-purple-fuchsia-a-600: #7053c580;
--color-color-purple-fuchsia-a-700: #7053c599;
--color-color-purple-fuchsia-a-800: #7053c5b2;
--color-color-purple-fuchsia-a-900: #7053c5cc;
--color-color-purple-fuchsia-a-950: #7053c5e5;
--color-color-purple-fuchsia-a-1000: #7053c5;
--color-color-orange-molten-fang-a-50: #ee5e210a;
--color-color-orange-molten-fang-a-100: #ee5e2114;
--color-color-orange-molten-fang-a-200: #ee5e211f;
--color-color-orange-molten-fang-a-300: #ee5e2133;
--color-color-orange-molten-fang-a-400: #ee5e214d;
--color-color-orange-molten-fang-a-500: #ee5e2166;
--color-color-orange-molten-fang-a-600: #ee5e2180;
--color-color-orange-molten-fang-a-700: #ee5e2199;
--color-color-orange-molten-fang-a-800: #ee5e21b2;
--color-color-orange-molten-fang-a-900: #ee5e21cc;
--color-color-orange-molten-fang-a-950: #ee5e21e5;
--color-color-orange-molten-fang-a-1000: #ee5e21;
--color-neutrals-celestial-veil-a-50: #e7f2fc0a;
--color-neutrals-celestial-veil-a-100: #e7f2fc14;
--color-neutrals-celestial-veil-a-200: #e7f2fc1f;
--color-neutrals-celestial-veil-a-300: #e7f2fc33;
--color-neutrals-celestial-veil-a-400: #e7f2fc4d;
--color-neutrals-celestial-veil-a-500: #e7f2fc66;
--color-neutrals-celestial-veil-a-600: #e7f2fc80;
--color-neutrals-celestial-veil-a-700: #e7f2fc99;
--color-neutrals-celestial-veil-a-800: #e7f2fcb2;
--color-neutrals-celestial-veil-a-900: #e7f2fccc;
--color-neutrals-celestial-veil-a-950: #e7f2fce5;
--color-neutrals-celestial-veil-a-1000: #e7f2fc;
--color-neutrals-echo-light-a-50: #f5f5f50a;
--color-neutrals-echo-light-a-100: #f5f5f514;
--color-neutrals-echo-light-a-200: #f5f5f51f;
--color-neutrals-echo-light-a-300: #f5f5f533;
--color-neutrals-echo-light-a-400: #f5f5f54d;
--color-neutrals-echo-light-a-500: #f5f5f566;
--color-neutrals-echo-light-a-600: #f5f5f580;
--color-neutrals-echo-light-a-700: #f5f5f599;
--color-neutrals-echo-light-a-800: #f5f5f5b2;
--color-neutrals-echo-light-a-900: #f5f5f5cc;
--color-neutrals-echo-light-a-950: #f5f5f5e5;
--color-neutrals-echo-light-a-1000: #f5f5f5;
--color-color-teal-sunspark-oasis-50-2: #e5fbf9;
--color-color-teal-sunspark-oasis-100-2: #bff6f0;
--color-color-teal-sunspark-oasis-200-2: #80ede0;
--color-color-teal-sunspark-oasis-300-2: #40e5d1;
--color-color-teal-sunspark-oasis-400-2: #00dcc2;
--color-color-teal-sunspark-oasis-500-2: #00c2ab;
--color-color-teal-sunspark-oasis-600-2: #019a88;
--color-color-teal-sunspark-oasis-700-2: #017365;
--color-color-teal-sunspark-oasis-800-2: #024b42;
--color-color-teal-sunspark-oasis-900-2: #02231f;
--color-color-teal-sunspark-oasis-50-3: #e5fbf9;
--color-color-teal-sunspark-oasis-100-3: #bff6f0;
--color-color-teal-sunspark-oasis-200-3: #80ede0;
--color-color-teal-sunspark-oasis-300-3: #40e5d1;
--color-color-teal-sunspark-oasis-400-3: #00dcc2;
--color-color-teal-sunspark-oasis-500-3: #00c2ab;
--color-color-teal-sunspark-oasis-600-3: #019a88;
--color-color-teal-sunspark-oasis-700-3: #017365;
--color-color-teal-sunspark-oasis-800-3: #024b42;
--color-color-teal-sunspark-oasis-900-3: #02231f;
--color-color-pink-mew-mode-50: #e709730a;
--color-color-pink-mew-mode-100: #e7097314;
--color-color-pink-mew-mode-200: #e709731f;
--color-color-pink-mew-mode-300: #e7097333;
--color-color-pink-mew-mode-400: #e709734d;
--color-color-pink-mew-mode-500: #e7097366;
--color-color-pink-mew-mode-600: #e7097380;
--color-color-pink-mew-mode-700: #e7097399;
--color-color-pink-mew-mode-800: #e70973b2;
--color-color-pink-mew-mode-900: #e70973cc;
--color-color-pink-mew-mode-950: #e70973e5;
--color-color-pink-mew-mode-1000: #e70973;
--color-color-purple-brand-primary-a-0: #5f61ff00;
--color-color-purple-brand-primary-a-50: #5f61ff0a;
--color-color-purple-brand-primary-a-100: #5f61ff14;
--color-color-purple-brand-primary-a-200: #5f61ff1f;
--color-color-purple-brand-primary-a-300: #5f61ff33;
--color-color-purple-brand-primary-a-400: #5f61ff4d;
--color-color-purple-brand-primary-a-500: #5f61ff66;
--color-color-purple-brand-primary-a-600: #5f61ff80;
--color-color-purple-brand-primary-a-700: #5f61ff99;
--color-color-purple-brand-primary-a-800: #5f61ffb2;
--color-color-purple-brand-primary-a-900: #5f61ffcc;
--color-color-purple-brand-primary-a-950: #5f61ffe5;
--color-color-red-secondary-red-a-0: #ff937100;
--color-color-purple-brand-primary-a-1000: #5f61ff;
--color-color-red-secondary-red-a-50: #ff93710a;
--color-color-red-secondary-red-a-100: #ff937114;
--color-color-red-secondary-red-a-200: #ff93711f;
--color-color-red-secondary-red-a-300: #ff937133;
--color-color-red-secondary-red-a-400: #ff93714d;
--color-color-red-secondary-red-a-500: #ff937166;
--color-color-red-secondary-red-a-600: #ff937180;
--color-color-red-secondary-red-a-700: #ff937199;
--color-color-red-secondary-red-a-800: #ff9371b2;
--color-color-red-secondary-red-a-900: #ff9371cc;
--color-color-red-secondary-red-a-950: #ff9371e5;
--color-color-red-secondary-red-a-1000: #ff9371;
--color-color-orange-secondary-orange-a-0: #ffc06c00;
--color-color-orange-secondary-orange-a-50: #ffc06c0a;
--color-color-orange-secondary-orange-a-100: #ffc06c14;
--color-color-orange-secondary-orange-a-200: #ffc06c1f;
--color-color-orange-secondary-orange-a-300: #ffc06c33;
--color-color-orange-secondary-orange-a-400: #ffc06c4d;
--color-color-orange-secondary-orange-a-500: #ffc06c66;
--color-color-orange-secondary-orange-a-600: #ffc06c80;
--color-color-orange-secondary-orange-a-700: #ffc06c99;
--color-color-orange-secondary-orange-a-800: #ffc06cb2;
--color-color-orange-secondary-orange-a-900: #ffc06ccc;
--color-color-orange-secondary-orange-a-950: #ffc06ce5;
--color-color-orange-secondary-orange-a-1000: #ffc06c;
--color-color-teal-secondary-teal-a-50: #95ffec0a;
--color-color-teal-secondary-teal-a-100: #95ffec14;
--color-color-teal-secondary-teal-a-200: #95ffec1f;
--color-color-teal-secondary-teal-a-300: #95ffec33;
--color-color-teal-secondary-teal-a-400: #95ffec4d;
--color-color-teal-secondary-teal-a-500: #95ffec66;
--color-color-teal-secondary-teal-a-600: #95ffec80;
--color-color-teal-secondary-teal-a-700: #95ffec99;
--color-color-teal-secondary-teal-a-800: #95ffecb2;
--color-color-teal-secondary-teal-a-900: #95ffeccc;
--color-color-teal-secondary-teal-a-950: #95ffece5;
--color-color-teal-secondary-teal-a-1000: #95ffec;
--color-color-green-secondary-green-a-50: #72cc560a;
--color-color-green-secondary-green-a-100: #72cc5614;
--color-color-green-secondary-green-a-200: #72cc561f;
--color-color-green-secondary-green-a-300: #72cc5633;
--color-color-green-secondary-green-a-400: #72cc564d;
--color-color-green-secondary-green-a-500: #72cc5666;
--color-color-green-secondary-green-a-600: #72cc5680;
--color-color-green-secondary-green-a-700: #72cc5699;
--color-color-green-secondary-green-a-800: #72cc56b2;
--color-color-green-secondary-green-a-900: #72cc56cc;
--color-color-green-secondary-green-a-950: #72cc56e5;
--color-color-green-secondary-green-a-1000: #72cc56;
--color-color-blue-secondary-blue-a-50: #76d2ff0a;
--color-color-blue-secondary-blue-a-100: #76d2ff14;
--color-color-blue-secondary-blue-a-200: #76d2ff1f;
--color-color-blue-secondary-blue-a-300: #76d2ff33;
--color-color-blue-secondary-blue-a-400: #76d2ff4d;
--color-color-blue-secondary-blue-a-500: #76d2ff66;
--color-color-blue-secondary-blue-a-600: #76d2ff80;
--color-color-blue-secondary-blue-a-700: #76d2ff99;
--color-color-blue-secondary-blue-a-800: #76d2ffb2;
--color-color-blue-secondary-blue-a-900: #76d2ffcc;
--color-color-blue-secondary-blue-a-950: #76d2ffe5;
--color-color-blue-secondary-blue-a-1000: #76d2ff;

/* Dimensions */
--spacing-padding-zero: 0px;
--spacing-padding-4xs: 2px;
--spacing-padding-3xs: 4px;
--spacing-padding-2xs: 6px;
--spacing-padding-xs: 8px;
--spacing-padding-sm: 12px;
--spacing-padding-base: 16px;
--spacing-padding-lg: 20px;
--spacing-padding-xl: 24px;
--spacing-padding-2xl: 32px;
--spacing-padding-3xl: 40px;
--spacing-padding-4xl: 48px;
--spacing-padding-5xl: 56px;
--spacing-padding-6xl: 64px;
--spacing-padding-7xl: 72px;
--spacing-padding-8xl: 80px;
--spacing-space-between-zero: 0px;
--spacing-space-between-3xs: 2px;
--spacing-space-between-2xs: 4px;
--spacing-space-between-xs: 8px;
--spacing-space-between-sm: 12px;
--spacing-space-between-base: 16px;
--spacing-space-between-lg: 20px;
--spacing-space-between-xl: 24px;
--spacing-space-between-2xl: 32px;
--spacing-space-between-3xl: 40px;
--spacing-space-between-4xl: 80px;
--spacing-layout-grid-horizontal-base: 24px;
--spacing-layout-grid-vertical-horizontal: 24px;
--sizing-dividers-details-base: 1px;
--sizing-dividers-details-seconary: 2px;
--sizing-dividers-details-tertiary: 4px;
--sizing-asset-3xs: 8px;
--sizing-asset-2xs: 10px;
--sizing-asset-xs: 12px;
--sizing-asset-sm: 16px;
--sizing-asset-md-base: 18px;
--sizing-asset-lg: 24px;
--sizing-asset-xl: 32px;
--sizing-asset-2xl: 40px;
--sizing-asset-3xl: 48px;
--sizing-asset-4xl: 80px;
--sizing-size-tokens-4xs: 16px;
--sizing-size-tokens-3xs: 20px;
--sizing-size-tokens-2xs: 24px;
--sizing-size-tokens-xs: 28px;
--sizing-size-tokens-sm: 32px;
--sizing-size-tokens-base: 40px;
--sizing-size-tokens-lg: 48px;
--sizing-size-tokens-xl: 56px;
--sizing-size-tokens-2xl: 72px;
--sizing-size-tokens-3xl: 80px;
--sizing-size-tokens-4xl: 100px;
--sizing-size-tokens-5xl: 256px;
--sizing-size-tokens-6xl: 320px;
--corner-radius-primary: 4px;
--corner-radius-lg: 12px;
--corner-radius-sm: 2px;
--corner-radius-pill: 100px;
--corner-radius-sharp: 0px;