.listItem {
  align-items: center;
  display: flex;
  padding: var(--list-item-spacing);
  position: relative;

  .start {
    padding-right: calc(var(--list-item-spacing) / 2);
  }

  .end {
    padding-left: calc(var(--list-item-spacing) / 2);
  }

  .start,
  .end {
    align-items: center;
    display: flex;
  }

  .content {
    font-size: 14px;
    flex: 1;
    white-space: break-spaces;
    word-break: break-all;
  }

  &.active {
    text-decoration: underline;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.clickable {
    cursor: pointer;
  }

  &.dense {
    padding: var(--list-item-dense-spacing);
  }

  &.disableGutters {
    padding-left: 0;
    padding-right: 0;
  }

  &.disablePadding {
    padding: 0;
  }
}
