.root {
  font-family: var(--font-family);
  font-size: var(--small-heading-font-size);
  color: var(--small-heading-color);
  margin: var(--small-heading-margin);

  &.disableMargins {
    margin: 0;
  }
}
