@import './color-palette.css';
@import 'tailwindcss';

/* Color palette */
:root {
  /* Primary colors */
  --primary: var(--color-blue-500);
  --primary-active: var(--color-blue-500);
  --primary-hover: var(--color-blue-400);
  --primary-inactive: var(--color-blue-200);

  /* Secondary colors */
  --secondary: var(--color-charade);
  --secondary-active: var(--color-charade);
  --secondary-hover: var(--color-gray-700);
  --secondary-inactive: var(--color-gray-600);

  /* Success colors */
  --success: var(--color-green-500);
  --success-active: var(--color-green-500);
  --success-hover: var(--color-green-400);
  --success-background: var(--color-green-950);

  /* Error colors */
  --error: var(--color-red-500);
  --error-active: var(--color-red-500);
  --error-hover: var(--color-red-400);
  --error-background: var(--color-red-950);

  /* Warning colors */
  --warning: var(--color-orange-500);
  --warning-active: var(--color-orange-500);
  --warning-hover: var(--color-orange-400);
  --warning-background: var(--color-orange-950);

  /* Info colors */
  --info: var(--color-blue-500);
  --info-active: var(--color-blue-500);
  --info-hover: var(--color-blue-400);
  --info-background: var(--color-blue-950);

  /* Panel colors */
  --panel: var(--color-black-pearl);
  --panel-accent: var(--color-charade);

  /* Surface colors */
  --surface: var(-color-charade);
  --surface-accent: var(--color-blue-500);

  /* Text colors */
  --text-primary: var(--color-athens-gray);
  --text-secondary: var(--color-waterloo);

  /* Custom Backgrounds */
  --bottom-border-glow: radial-gradient(
    circle at center,
    var(--color-anakiwa) 0,
    blue,
    transparent 100%
  );
  --button-gradient: linear-gradient(
    283deg,
    #0808a5 0%,
    rgba(8, 8, 165, 0) 100%
  );
  --button-gradient-hover: linear-gradient(
    283deg,
    #44f 0%,
    rgba(23, 23, 255, 0.1) 100%
  );
  --button-gradient-focus: linear-gradient(
    283deg,
    #0d0dd2 0%,
    rgba(23, 23, 255, 0.1) 100%
  );
}

.light,
[data-theme='light'] {
  /* Primary colors */
  --primary: var(--color-blue-500);
  --primary-active: var(--color-blue-500);
  --primary-hover: var(--color-blue-600);
  --primary-inactive: var(--color-gray-500);

  /* Secondary colors */
  --secondary: var(--color-blue-200);
  --secondary-active: var(--color-blue-200);
  --secondary-hover: var(--color-blue-300);
  --secondary-inactive: var(--color-waterloo);

  /* Success colors */
  --success: var(--color-green-500);
  --success-active: var(--color-green-500);
  --success-hover: var(--color-green-600);
  --success-background: var(--color-green-100);

  /* Error colors */
  --error: var(--color-red-500);
  --error-active: var(--color-red-400);
  --error-hover: var(--color-red-600);
  --error-background: var(--color-red-100);

  /* Warning colors */
  --warning: var(--color-orange-500);
  --warning-active: var(--color-orange-500);
  --warning-hover: var(--color-orange-600);
  --warning-background: var(--color-orange-100);

  /* Info colors */
  --info: var(--color-blue-500);
  --info-active: var(--color-blue-500);
  --info-hover: var(--color-blue-600);
  --info-background: var(--color-blue-100);

  /* Panel colors */
  --panel: var(--color-white);
  --panel-accent: var(--color-mystic);

  /* Surface colors */
  --surface: var(--color-gray-300);
  --surface-accent: var(--color-blue-500);

  /* Text colors */
  --text-primary: var(--color-vulcan);
  --text-secondary: var(--color-gray-700);
}

/* Custom variants */
@custom-variant dark (&:where(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where(.light, .light *, [data-theme=light], [data-theme=light] *));
@custom-variant disabled-within (&:has(input:is(:disabled), textarea:is(:disabled), button:is(:disabled)));

/* Define theme tokens */
@theme inline {
  /* Fonts */
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: Fira Code, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* Font sizes */
  --text-xs: 0.625rem; /* 10px */
  --text-xs--line-height: calc(1 / 0.625);
  --text-sm: 0.75rem; /* 12px */
  --text-sm--line-height: calc(1.25 / 0.75);
  --text-base: 0.875rem; /* 14px */
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1rem; /* 16px */
  --text-lg--line-height: calc(1.75 / 1.125);

  /* Primary colors */
  --color-primary: var(--primary);
  --color-primary-active: var(--primary-active);
  --color-primary-hover: var(--primary-hover);
  --color-primary-inactive: var(--primary-inactive);

  /* Secondary colors */
  --color-secondary: var(--secondary);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-inactive: var(--secondary-inactive);

  /* Success colors */
  --color-success: var(--success);
  --color-success-active: var(--success-active);
  --color-success-hover: var(--success-hover);
  --color-success-background: var(--success-background);

  /* Error colors */
  --color-error: var(--error);
  --color-error-active: var(--error-active);
  --color-error-hover: var(--error-hover);
  --color-error-background: var(--error-background);

  /* Warning colors */
  --color-warning: var(--warning);
  --color-warning-active: var(--warning-active);
  --color-warning-hover: var(--warning-hover);
  --color-warning-background: var(--warning-background);

  /* Info colors */
  --color-info: var(--info);
  --color-info-active: var(--info-active);
  --color-info-hover: var(--info-hover);
  --color-info-background: var(--info-background);

  /* Panel colors */
  --color-panel: var(--panel);
  --color-panel-accent: var(--panel-accent);

  /* Surface colors */
  --color-surface: var(--surface);
  --color-surface-accent: var(--surface-accent);

  /* Text colors */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  /* Named colors */
  --color-black-pearl: var(--black-pearl);
  --color-athens-gray: var(--athens-gray);
  --color-mystic: var(--mystic);
  --color-vulcan: var(--vulcan);
  --color-charade: var(--charade);
  --color-waterloo: var(--waterloo);
  --color-anakiwa: var(--anakiwa);
}

/* @config '../tailwind.config.ts'; */
