.container {
  display: flex;
  align-items: center;
  gap: var(--stack-gap);

  &.inline {
    display: inline-flex;
  }

  &.dense {
    gap: var(--stack-dense-gap);
  }

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  &.startAlign {
    align-items: flex-start;
  }

  &.endAlign {
    align-items: flex-end;
  }

  &.endJustify {
    justify-content: flex-end;
  }

  &.centerJustify {
    justify-content: center;
  }

  &.spaceBetweenJustify {
    justify-content: space-between;
  }
}
