.card {
  padding: var(--card-spacing);
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  color: var(--card-color);
  border-radius: var(--card-border-radius);

  &.disablePadding {
    padding: 0;
  }

  .header {
    display: flex;
    align-items: center;

    .push {
      flex: 1;
      margin: 0 0 var(--spacing-md) 0;
    }

    .headerText {
      margin-top: 0;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .content {
    flex: 1;
  }
}
